/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*@import setup;*/
/*@import libraries;*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*	*************************************************************	*/
/*@import setup;*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.svg#robotobold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot");
  src: url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/setup/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/setup/_normalize.scss */
body {
  margin: 0;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* line 13, ../scss/setup/_normalize.scss */
* {
  max-height: 100000px;
}

/* line 14, ../scss/setup/_normalize.scss */
img {
  border-style: none;
  max-width: 100%;
}

/* line 18, ../scss/setup/_normalize.scss */
a {
  text-decoration: underline;
  color: #1ce5d7;
}

/* line 22, ../scss/setup/_normalize.scss */
a:hover {
  text-decoration: none;
}

/* line 25, ../scss/setup/_normalize.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../scss/setup/_normalize.scss */
a:active {
  background-color: transparent;
}

/* line 27, ../scss/setup/_normalize.scss */
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #0c0c0c;
}

/* line 39, ../scss/setup/_normalize.scss */
label {
  font-weight: normal;
}

/* line 42, ../scss/setup/_normalize.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 47, ../scss/setup/_normalize.scss */
::-webkit-input-placeholder {
  color: #0c0c0c;
}

/* line 50, ../scss/setup/_normalize.scss */
:-moz-placeholder {
  color: #0c0c0c;
  opacity: 1;
}

/* line 54, ../scss/setup/_normalize.scss */
::-moz-placeholder {
  color: #0c0c0c;
  opacity: 1;
}

/* line 58, ../scss/setup/_normalize.scss */
:-ms-input-placeholder {
  color: #0c0c0c;
}

/* line 61, ../scss/setup/_normalize.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 65, ../scss/setup/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 68, ../scss/setup/_normalize.scss */
input [type="email"],
input [type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
}

/* line 1, ../scss/setup/_typography.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #0c0c0c;
}

/* line 10, ../scss/setup/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

/* line 18, ../scss/setup/_typography.scss */
h1 {
  margin: 0 0 20px;
  font-size: 58px;
  line-height: 64px;
  font-weight: 300;
}
@media screen and (max-width: 1224px) {
  /* line 18, ../scss/setup/_typography.scss */
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 768px) {
  /* line 18, ../scss/setup/_typography.scss */
  h1 {
    font-size: 26px;
    line-height: 28px;
  }
}
@media screen and (max-width: 480px) {
  /* line 18, ../scss/setup/_typography.scss */
  h1 {
    font-size: 22px;
    line-height: 24px;
  }
}

/* line 36, ../scss/setup/_typography.scss */
h2 {
  margin: 0 0 16px;
  font-size: 46px;
  line-height: 50px;
  font-weight: normal;
}
@media screen and (max-width: 1224px) {
  /* line 36, ../scss/setup/_typography.scss */
  h2 {
    margin: 0 0 14px;
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 36, ../scss/setup/_typography.scss */
  h2 {
    margin: 0 0 12px;
    font-size: 22px;
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 36, ../scss/setup/_typography.scss */
  h2 {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 22px;
  }
}

/* line 57, ../scss/setup/_typography.scss */
h3 {
  margin: 0 0 12px;
  font-size: 30px;
  line-height: 34px;
}

/* line 62, ../scss/setup/_typography.scss */
h3 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 34px;
}

/* line 67, ../scss/setup/_typography.scss */
h4 {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}

/* line 73, ../scss/setup/_typography.scss */
p {
  margin: 0 0 10px;
}

/*@import libraries;*/
/* line 3, ../scss/lib/_sprites.scss */
.socials-list .instagram:before, .socials-list .twitter:before, .socials-list .facebook:before, .features-holder .item-description .item-icon.icon-1:before, .features-holder .item-description .item-icon.icon-2:before, .features-holder .item-description .item-icon.icon-3:before, .features-holder .item-description .item-icon.icon-4:before, .features-holder .item-description .item-icon.icon-5:before {
  background-image: url('../images/icons-s404fe8bef8.png');
  background-repeat: no-repeat;
}

/*@import layout;*/
/* line 1, ../scss/layout/_footer.scss */
.footer {
  padding: 33px 88px 42px 90px;
  background: #bababa;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 960px) {
  /* line 1, ../scss/layout/_footer.scss */
  .footer {
    text-align: center;
    padding: 34px 38px;
  }
}
/* line 10, ../scss/layout/_footer.scss */
.footer .container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 15, ../scss/layout/_footer.scss */
.footer .block-menu {
  float: left;
  padding: 8px 0 0;
}
@media screen and (max-width: 960px) {
  /* line 15, ../scss/layout/_footer.scss */
  .footer .block-menu {
    float: none;
    padding: 0 0 20px;
  }
}
/* line 22, ../scss/layout/_footer.scss */
.footer .block-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 960px) {
  /* line 22, ../scss/layout/_footer.scss */
  .footer .block-menu ul {
    text-align: center;
  }
}
/* line 29, ../scss/layout/_footer.scss */
.footer .block-menu ul li {
  display: inline-block;
  padding: 0 27px 0 0;
  margin: 0;
}
@media screen and (max-width: 960px) {
  /* line 29, ../scss/layout/_footer.scss */
  .footer .block-menu ul li {
    padding: 0 10px 10px;
  }
}
/* line 37, ../scss/layout/_footer.scss */
.footer .block-menu ul a {
  text-decoration: none;
  color: #0c0c0c;
}
/* line 43, ../scss/layout/_footer.scss */
.footer .block-even {
  float: right;
}
@media screen and (max-width: 960px) {
  /* line 43, ../scss/layout/_footer.scss */
  .footer .block-even {
    float: none;
  }
}

/* line 1, ../scss/layout/_header.scss */
.header {
  padding: 17px 92px 17px 91px;
  margin: 0 0 1px;
  background: #0c0c0c url("../images/bg-header.png") 76px 0 no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 1, ../scss/layout/_header.scss */
  .header {
    padding: 17px 20px 0;
  }
}
/* line 8, ../scss/layout/_header.scss */
.header a {
  color: #fff;
  text-decoration: none;
}
/* line 11, ../scss/layout/_header.scss */
.header a.active {
  color: #fff;
}
/* line 15, ../scss/layout/_header.scss */
.header .container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 19, ../scss/layout/_header.scss */
.header .container .logo {
  float: left;
}
@media screen and (max-width: 960px) {
  /* line 19, ../scss/layout/_header.scss */
  .header .container .logo {
    float: none;
    display: block;
    margin: 0 auto;
    width: 215px;
  }
}

/* line 30, ../scss/layout/_header.scss */
.header-region {
  float: right;
  overflow: hidden;
  padding: 17px 0 0;
  font-size: 17px;
  line-height: 19px;
}
@media screen and (max-width: 960px) {
  /* line 30, ../scss/layout/_header.scss */
  .header-region {
    float: none;
    text-align: center;
  }
}
/* line 40, ../scss/layout/_header.scss */
.header-region .block {
  float: left;
}
@media screen and (max-width: 960px) {
  /* line 40, ../scss/layout/_header.scss */
  .header-region .block {
    float: none;
    display: inline-block;
  }
}
/* line 47, ../scss/layout/_header.scss */
.header-region ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 51, ../scss/layout/_header.scss */
.header-region ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 29px;
  padding: 0;
}
@media screen and (max-width: 960px) {
  /* line 51, ../scss/layout/_header.scss */
  .header-region ul li {
    margin: 0;
    padding: 0 10px;
  }
}
/* line 61, ../scss/layout/_header.scss */
.header-region ul a:hover {
  color: #1ce5d7;
}

/* line 69, ../scss/layout/_header.scss */
#name-and-slogan,
#skip,
#secondary {
  display: none;
}

/* line 1, ../scss/layout/_sidebar.scss */
.sidebar {
  float: left;
  width: 231px;
  padding: 55px 39px 9999px;
  margin: 0 0 -9999px;
  background: #bfe2e0;
}
/* line 7, ../scss/layout/_sidebar.scss */
.sidebar .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}
/* line 13, ../scss/layout/_sidebar.scss */
.sidebar .menu li {
  margin: 0 0 24px;
  padding: 0;
}
/* line 17, ../scss/layout/_sidebar.scss */
.sidebar .menu a {
  color: #0c0c0c;
  text-decoration: none;
}
/* line 20, ../scss/layout/_sidebar.scss */
.sidebar .menu a.active, .sidebar .menu a:hover {
  color: #1ce5d7;
}

/*@import components;*/
/* line 1, ../scss/components/_socialslist.scss */
.socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 5, ../scss/components/_socialslist.scss */
.socials-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 22px;
}
/* line 10, ../scss/components/_socialslist.scss */
.socials-list a {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 17, ../scss/components/_socialslist.scss */
.socials-list a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
/* line 24, ../scss/components/_socialslist.scss */
.socials-list .instagram:before {
  background-position: 0 -44px;
  width: 24px;
  height: 24px;
}
/* line 28, ../scss/components/_socialslist.scss */
.socials-list .twitter:before {
  background-position: 0 -88px;
  width: 24px;
  height: 24px;
}
/* line 32, ../scss/components/_socialslist.scss */
.socials-list .facebook:before {
  background-position: 0 0;
  width: 24px;
  height: 24px;
}

/* line 1, ../scss/components/_modals.scss */
#modalContent * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 5, ../scss/components/_modals.scss */
#modalContent div.ctools-modal-content {
  width: 300px;
}

/* line 1, ../scss/components/_home.scss */
.header--transparent {
  background: transparent;
  margin: 0 0 -87px;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 960px) {
  /* line 1, ../scss/components/_home.scss */
  .header--transparent {
    margin: 0 0 -142px;
  }
}
@media screen and (max-width: 768px) {
  /* line 1, ../scss/components/_home.scss */
  .header--transparent {
    margin: 0;
    background: #0c0c0c url("../images/bg-header.png") 0 0 no-repeat;
  }
}

/* line 14, ../scss/components/_home.scss */
.head-section {
  position: relative;
  overflow: hidden;
}
/* line 17, ../scss/components/_home.scss */
.head-section .preview-holder img {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
/* line 22, ../scss/components/_home.scss */
.head-section .heading--main {
  color: #fff;
  text-align: center;
  width: 70%;
  position: absolute;
  top: 52.7%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@media screen and (max-width: 960px) {
  /* line 22, ../scss/components/_home.scss */
  .head-section .heading--main {
    top: 61%;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  /* line 22, ../scss/components/_home.scss */
  .head-section .heading--main {
    top: 20%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media screen and (max-width: 480px) {
  /* line 22, ../scss/components/_home.scss */
  .head-section .heading--main {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    background: #000;
    padding: 36px 10px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 53, ../scss/components/_home.scss */
.head-section .heading--main h1 {
  margin: 0;
}
/* line 55, ../scss/components/_home.scss */
.head-section .heading--main h1 .accent--bold {
  font-size: 77px;
  line-height: 83px;
}
@media screen and (max-width: 1224px) {
  /* line 55, ../scss/components/_home.scss */
  .head-section .heading--main h1 .accent--bold {
    font-size: 54px;
    line-height: 62px;
  }
}
@media screen and (max-width: 768px) {
  /* line 55, ../scss/components/_home.scss */
  .head-section .heading--main h1 .accent--bold {
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  /* line 55, ../scss/components/_home.scss */
  .head-section .heading--main h1 .accent--bold {
    font-size: 20px;
    line-height: 28px;
  }
}
/* line 72, ../scss/components/_home.scss */
.head-section .heading--main h2 {
  margin: 0 0 111px;
  letter-spacing: -1px;
}
@media screen and (max-width: 1224px) {
  /* line 72, ../scss/components/_home.scss */
  .head-section .heading--main h2 {
    margin: 0 0 12%;
  }
}
@media screen and (max-width: 768px) {
  /* line 72, ../scss/components/_home.scss */
  .head-section .heading--main h2 {
    margin: 0 0 6%;
    letter-spacing: 0;
  }
}
/* line 83, ../scss/components/_home.scss */
.head-section .heading--main .accent {
  padding: 14px 72px 24px;
  color: #0c0c0c;
}
@media screen and (max-width: 1224px) {
  /* line 83, ../scss/components/_home.scss */
  .head-section .heading--main .accent {
    padding: 8px 36px;
  }
}
@media screen and (max-width: 480px) {
  /* line 83, ../scss/components/_home.scss */
  .head-section .heading--main .accent {
    padding: 8px;
  }
}
/* line 94, ../scss/components/_home.scss */
.head-section .connect {
  color: #e7e7e7;
  text-align: center;
  width: 70%;
  position: absolute;
  top: 17%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 480px) {
  /* line 94, ../scss/components/_home.scss */
  .head-section .connect {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    background: #000;
    padding: 36px 10px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 14px;
    line-height: 16px;
  }
}
/* line 119, ../scss/components/_home.scss */
.head-section .connect h2 {
  color: #1ce5d7;
  font-size: 52px;
  line-height: 54px;
}
@media screen and (max-width: 768px) {
  /* line 119, ../scss/components/_home.scss */
  .head-section .connect h2 {
    font-size: 26px;
    line-height: 28px;
  }
}
@media screen and (max-width: 480px) {
  /* line 119, ../scss/components/_home.scss */
  .head-section .connect h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
/* line 132, ../scss/components/_home.scss */
.head-section .connect h3 {
  font-size: 48px;
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  /* line 132, ../scss/components/_home.scss */
  .head-section .connect h3 {
    font-size: 24px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  /* line 132, ../scss/components/_home.scss */
  .head-section .connect h3 {
    font-size: 20px;
    line-height: 22px;
  }
}
/* line 144, ../scss/components/_home.scss */
.head-section .connect .accent {
  color: #0c0c0c;
}
/* line 147, ../scss/components/_home.scss */
.head-section .connect .text-section {
  max-width: 400px;
  margin: 0 auto;
  padding: 17px 0;
}
@media screen and (max-width: 480px) {
  /* line 147, ../scss/components/_home.scss */
  .head-section .connect .text-section {
    padding: 0;
    text-shadow: 1px 1px 0 #000;
  }
}
/* line 157, ../scss/components/_home.scss */
.head-section .features {
  background: #bfe2e0;
  text-align: center;
  padding: 10% 0 4.6%;
}
@media screen and (max-width: 1224px) {
  /* line 157, ../scss/components/_home.scss */
  .head-section .features {
    padding: 10% 6% 4.6%;
  }
}
/* line 164, ../scss/components/_home.scss */
.head-section .features .features-box {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 167, ../scss/components/_home.scss */
.head-section .features .features-box .accent--text {
  display: inline-block;
  max-width: 520px;
}
/* line 172, ../scss/components/_home.scss */
.head-section .features .heding-features {
  margin: 0 0 5.3%;
}
/* line 175, ../scss/components/_home.scss */
.head-section .features h2 {
  font-size: 52px;
  line-height: 54px;
  font-weight: 300;
}
@media screen and (max-width: 1224px) {
  /* line 175, ../scss/components/_home.scss */
  .head-section .features h2 {
    margin: 0 0 14px;
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 175, ../scss/components/_home.scss */
  .head-section .features h2 {
    margin: 0 0 12px;
    font-size: 22px;
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 175, ../scss/components/_home.scss */
  .head-section .features h2 {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 22px;
  }
}
/* line 196, ../scss/components/_home.scss */
.head-section .offers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 9.6% 0 0;
  font-size: 23px;
  line-height: 32px;
}
@media screen and (max-width: 960px) {
  /* line 196, ../scss/components/_home.scss */
  .head-section .offers {
    padding: 4% 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}
/* line 207, ../scss/components/_home.scss */
.head-section .offers h2 {
  color: #1ce5d7;
  margin: 0 0 40px;
  font-size: 50px;
  line-height: 54px;
  margin: 0 0 43px;
}
@media screen and (max-width: 1224px) {
  /* line 207, ../scss/components/_home.scss */
  .head-section .offers h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 207, ../scss/components/_home.scss */
  .head-section .offers h2 {
    margin: 0 0 12px;
    font-size: 22px;
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 207, ../scss/components/_home.scss */
  .head-section .offers h2 {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 22px;
  }
}
/* line 227, ../scss/components/_home.scss */
.head-section .offers h2 .accent--bold {
  letter-spacing: 1px;
}
/* line 230, ../scss/components/_home.scss */
.head-section .offers h2 .accent--light {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -19px;
}
/* line 236, ../scss/components/_home.scss */
.head-section .offers p {
  margin: 0 0 32px;
}
@media screen and (max-width: 960px) {
  /* line 236, ../scss/components/_home.scss */
  .head-section .offers p {
    margin: 0 0 10px;
  }
}
/* line 242, ../scss/components/_home.scss */
.head-section .offers .accent {
  padding: 13px 22px;
}
/* line 245, ../scss/components/_home.scss */
.head-section .offers .offers-text {
  position: relative;
  padding: 0 0 0 19px;
  max-width: 550px;
}
@media screen and (max-width: 960px) {
  /* line 245, ../scss/components/_home.scss */
  .head-section .offers .offers-text {
    padding: 0 19px;
  }
}
/* line 253, ../scss/components/_home.scss */
.head-section .offers .offers-preview {
  margin: -115px 0 8px;
  padding: 0 0 0 145px;
}
@media screen and (max-width: 960px) {
  /* line 253, ../scss/components/_home.scss */
  .head-section .offers .offers-preview {
    padding: 0;
    margin: 0;
  }
}
/* line 260, ../scss/components/_home.scss */
.head-section .offers .offers-preview img {
  max-width: 100%;
}

/* line 266, ../scss/components/_home.scss */
.features-holder {
  line-height: 21px;
}
/* line 268, ../scss/components/_home.scss */
.features-holder .item-col {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 550px) {
  /* line 268, ../scss/components/_home.scss */
  .features-holder .item-col {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  /* line 275, ../scss/components/_home.scss */
  .features-holder .item-col .features-item {
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 550px) {
  /* line 281, ../scss/components/_home.scss */
  .features-holder .item-col:last-child .features-item {
    margin: 0;
  }
}
/* line 289, ../scss/components/_home.scss */
.features-holder .item-col--vertical .item-preview {
  margin: 0;
}
/* line 292, ../scss/components/_home.scss */
.features-holder .item-col--vertical .item-description {
  display: block;
}
/* line 296, ../scss/components/_home.scss */
.features-holder .item-description {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: 0 3px 9px;
  padding: 30px 10px 15px;
  width: 230px;
  height: 240px;
  background: #fff;
  color: #0c0c0c;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  /* line 296, ../scss/components/_home.scss */
  .features-holder .item-description {
    display: block;
    margin: 0 auto 9px;
  }
}
/* line 311, ../scss/components/_home.scss */
.features-holder .item-description:before {
  content: '';
  position: absolute;
}
/* line 315, ../scss/components/_home.scss */
.features-holder .item-description.arrow--right:before {
  top: 20px;
  left: 100%;
  border-left: 20px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
@media screen and (max-width: 550px) {
  /* line 315, ../scss/components/_home.scss */
  .features-holder .item-description.arrow--right:before {
    top: 100%;
    left: 50%;
    margin: 0 0 0 -25px;
    border-top: 20px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
}
/* line 330, ../scss/components/_home.scss */
.features-holder .item-description.arrow--right:hover:before {
  border-left-color: #1ce5d7;
}
@media screen and (max-width: 550px) {
  /* line 330, ../scss/components/_home.scss */
  .features-holder .item-description.arrow--right:hover:before {
    border-left-color: transparent;
    border-top-color: #1ce5d7;
  }
}
/* line 337, ../scss/components/_home.scss */
.features-holder .item-description.arrow--left:before {
  top: 20px;
  left: -20px;
  border-right: 20px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
@media screen and (max-width: 550px) {
  /* line 337, ../scss/components/_home.scss */
  .features-holder .item-description.arrow--left:before {
    top: -20px;
    left: 50%;
    margin: 0 0 0 -25px;
    border-top: none;
    border-bottom: 20px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
}
/* line 353, ../scss/components/_home.scss */
.features-holder .item-description.arrow--left:hover:before {
  border-right-color: #1ce5d7;
}
@media screen and (max-width: 550px) {
  /* line 353, ../scss/components/_home.scss */
  .features-holder .item-description.arrow--left:hover:before {
    border-right-color: transparent;
    border-bottom-color: #1ce5d7;
  }
}
/* line 360, ../scss/components/_home.scss */
.features-holder .item-description.arrow--bottom:before {
  top: 100%;
  left: 20px;
  border-top: 20px solid #fff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
@media screen and (max-width: 550px) {
  /* line 360, ../scss/components/_home.scss */
  .features-holder .item-description.arrow--bottom:before {
    left: 50%;
    top: 100%;
    margin: 0 0 0 -25px;
  }
}
/* line 372, ../scss/components/_home.scss */
.features-holder .item-description.arrow--bottom:hover:before {
  border-top-color: #1ce5d7;
}
/* line 375, ../scss/components/_home.scss */
.features-holder .item-description:hover {
  background: #1ce5d7;
}
/* line 377, ../scss/components/_home.scss */
.features-holder .item-description:hover + .item-preview {
  -webkit-box-shadow: inset 0 0 0 1px #1ce5d7;
  box-shadow: inset 0 0 0 1px #1ce5d7;
}
/* line 382, ../scss/components/_home.scss */
.features-holder .item-description .item-icon {
  position: relative;
  margin: 0 auto 15px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #1ce5d7;
  background: #fff;
}
/* line 390, ../scss/components/_home.scss */
.features-holder .item-description .item-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 399, ../scss/components/_home.scss */
.features-holder .item-description .item-icon.icon-1:before {
  background-position: 0 -132px;
  width: 30px;
  height: 15px;
}
/* line 403, ../scss/components/_home.scss */
.features-holder .item-description .item-icon.icon-2:before {
  background-position: 0 -167px;
  width: 26px;
  height: 16px;
}
/* line 407, ../scss/components/_home.scss */
.features-holder .item-description .item-icon.icon-3:before {
  background-position: 0 -203px;
  width: 30px;
  height: 25px;
}
/* line 411, ../scss/components/_home.scss */
.features-holder .item-description .item-icon.icon-4:before {
  background-position: 0 -248px;
  width: 20px;
  height: 25px;
}
/* line 415, ../scss/components/_home.scss */
.features-holder .item-description .item-icon.icon-5:before {
  background-position: 0 -293px;
  width: 26px;
  height: 25px;
}
/* line 419, ../scss/components/_home.scss */
.features-holder .item-description .item-icon span {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 425, ../scss/components/_home.scss */
.features-holder .item-description strong {
  display: block;
  font-weight: bold;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
}
/* line 434, ../scss/components/_home.scss */
.features-holder .item-preview {
  display: inline-block;
  width: 230px;
  height: 240px;
  margin: 0 3px;
}
/* line 439, ../scss/components/_home.scss */
.features-holder .item-preview img {
  max-width: 100%;
}

/*@import common;*/
/* line 1, ../scss/_common.scss */
body {
  min-width: 320px;
}

/* line 4, ../scss/_common.scss */
a:hover {
  color: #1ce5d7;
  text-decoration: none;
}

/* line 9, ../scss/_common.scss */
.border-bottom {
  border-bottom: 1px solid #c1c1c1;
  -webkit-box-shadow: inset 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
}

/* line 14, ../scss/_common.scss */
.border-right {
  border-right: 1px solid #c1c1c1;
  -webkit-box-shadow: inset -1px 0 0 0 #fff, 1px 0 0 0 #fff;
  box-shadow: inset -1px 0 0 0 #fff, 1px 0 0 0 #fff;
}

/* line 19, ../scss/_common.scss */
.accent {
  display: inline-block;
  padding: 5px 10px;
  background: #1ce5d7;
  font-weight: 300;
}

/* line 25, ../scss/_common.scss */
.accent--light {
  color: #fff;
}

/* line 28, ../scss/_common.scss */
.accent--big {
  font-weight: bold;
  font-size: 92px;
  line-height: 80px;
  color: #1ce5d7;
}
@media screen and (max-width: 1224px) {
  /* line 28, ../scss/_common.scss */
  .accent--big {
    font-size: 58px;
    line-height: 62px;
  }
}
@media screen and (max-width: 768px) {
  /* line 28, ../scss/_common.scss */
  .accent--big {
    top: 20%;
    font-size: 34px;
    line-height: 38px;
  }
}
@media screen and (max-width: 480px) {
  /* line 28, ../scss/_common.scss */
  .accent--big {
    font-size: 24px;
    line-height: 26px;
  }
}

/* line 47, ../scss/_common.scss */
.accent--bold {
  font-weight: bold;
}

/* line 50, ../scss/_common.scss */
.accent--text {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
}
@media screen and (max-width: 768px) {
  /* line 50, ../scss/_common.scss */
  .accent--text {
    font-size: 16px;
    line-height: 20px;
  }
}

/* line 60, ../scss/_common.scss */
.btn {
  padding: 10px 30px;
  display: inline-block;
  vertical-align: top;
  background: #1ce5d7;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

/* line 70, ../scss/_common.scss */
.link--sign {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #fff;
  padding: 18px 78px 14px;
  text-transform: uppercase;
  font-size: 31px;
  line-height: 34px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
@media screen and (max-width: 1224px) {
  /* line 70, ../scss/_common.scss */
  .link--sign {
    padding: 8px 52px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 70, ../scss/_common.scss */
  .link--sign {
    padding: 5px 52px;
    font-size: 16px;
    line-height: 18px;
  }
}
/* line 91, ../scss/_common.scss */
.link--sign:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.85);
}
/* line 95, ../scss/_common.scss */
.link--sign .price--sign {
  display: block;
  text-align: center;
  color: #1ce5d7;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  /* line 95, ../scss/_common.scss */
  .link--sign .price--sign {
    font-size: 12px;
  }
}
/* line 106, ../scss/_common.scss */
.link--sign:hover .price--sign {
  color: #fff;
}

/* line 111, ../scss/_common.scss */
#main > .container {
  overflow: hidden;
}

/* line 115, ../scss/_common.scss */
.content {
  overflow: hidden;
}
/* line 117, ../scss/_common.scss */
.content h3 {
  font-weight: 300;
}

/* line 125, ../scss/_common.scss */
#content-header {
  padding: 30px;
  background: #f7f7f7;
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  -webkit-box-shadow: inset 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
  color: #1ce5d7;
}
/* line 133, ../scss/_common.scss */
#content-header h1 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  margin: 0;
}

/* line 140, ../scss/_common.scss */
.profile-section {
  padding: 20px 30px 50px;
}
/* line 142, ../scss/_common.scss */
.profile-section .profile-box--centered {
  overflow: hidden;
  max-width: 712px;
  margin: 0 auto;
}
/* line 146, ../scss/_common.scss */
.profile-section .profile-box--centered .profile-col {
  float: left;
  width: 320px;
}
/* line 150, ../scss/_common.scss */
.profile-section .profile-box--centered .profile-col2 {
  float: right;
  width: 140px;
}
/* line 156, ../scss/_common.scss */
.profile-section .profile-box--centered .profile-col input,
.profile-section .profile-box--centered .profile-col2 input {
  width: 100%;
  cursor: pointer;
}
/* line 160, ../scss/_common.scss */
.profile-section .profile-box--centered .profile-col select,
.profile-section .profile-box--centered .profile-col2 select {
  width: 100%;
}
/* line 165, ../scss/_common.scss */
.profile-section .profile-photo {
  width: 180px;
  float: left;
  margin: 0 41px 0 0;
  text-align: center;
}
/* line 170, ../scss/_common.scss */
.profile-section .profile-photo .form-actions {
  margin: 0;
}
/* line 173, ../scss/_common.scss */
.profile-section .profile-photo .image-preview,
.profile-section .profile-photo label {
  display: inline-block;
  padding: 0;
  float: none;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin: 0 0 20px;
  border: 2px solid #ddd;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}
/* line 186, ../scss/_common.scss */
.profile-section .profile-photo .image-preview:before,
.profile-section .profile-photo label:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 194, ../scss/_common.scss */
.profile-section .profile-photo .image-preview img,
.profile-section .profile-photo .image-preview label,
.profile-section .profile-photo label img,
.profile-section .profile-photo label label {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}
/* line 203, ../scss/_common.scss */
.profile-section .profile-photo .image-widget-data {
  float: none;
}
/* line 206, ../scss/_common.scss */
.profile-section .profile-photo input {
  border: none;
  background: #1ce5d7;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 14px;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 10px;
  cursor: pointer;
}
/* line 219, ../scss/_common.scss */
.profile-section .profile-box--centered2 {
  max-width: 624px;
  margin: 0 auto;
}
/* line 222, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container {
  overflow: hidden;
  margin: 0 0 20px;
}
/* line 225, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container .form-wrapper {
  overflow: hidden;
}
/* line 228, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container label {
  width: 45%;
  float: left;
}
/* line 232, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container select {
  width: 45%;
  float: right;
}
/* line 237, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container2 {
  margin: 0 0 20px;
}
/* line 239, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container2 .form-type-checkboxes {
  margin: 0;
}
/* line 241, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container2 .form-type-checkboxes > label {
  margin: 0 0 10px;
}
/* line 245, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container2 .form-type-checkbox {
  margin: 0 0 10px;
  width: 32.9%;
  display: inline-block;
  vertical-align: top;
  padding: 0 4px;
  letter-spacing: 0;
}
/* line 252, ../scss/_common.scss */
.profile-section .profile-box--centered2 .col-container2 .form-type-checkbox * {
  letter-spacing: normal;
}
/* line 257, ../scss/_common.scss */
.profile-section .profile-box--centered2 .form-actions {
  text-align: right;
  margin: 0;
}
/* line 260, ../scss/_common.scss */
.profile-section .profile-box--centered2 .form-actions input {
  border: none;
  background: #1ce5d7;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 30px;
  font-size: 22px;
  line-height: 22px;
}
