html,
body{
	height: 100%;
}
body{
	min-width: 320px;
}
#page{
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	@include max-screen($desctop){
		display: block;
		height: auto;
	}
}
#main{
	@include max-screen($desctop){
		position: relative;
	}
}
body:not(.front){
	#main{
		margin-top: 70px;
		@include max-screen($desctop){
			margin-top: 0;
		}
	}
}
.main-wrap{
	display: table-row;
	@include max-screen($desctop){
		display: block;
	}
}
a:hover{
	color: $green--light;
	text-decoration: none;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
input[type="submit"]{
	cursor: pointer;
}
// Stylemap
.border-bottom{
	border-bottom: 1px solid $grey;
	-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
}
.border-right{
	border-right: 1px solid $grey;
	-webkit-box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
	box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
}
.font--normal{
	font-weight: 300;
}
.font--bold{
	font-weight: bold;
}
.accent{
	display: inline-block;
	padding: 5px 10px;
	background: $green--light;
	font-weight: 300;
}
.accent--light{
	color: $white;
}
.accent--big{
	font-weight: bold;
	font-size: 92px;
	line-height: 80px;
	color: $green--light;
	@include max-screen($desctop){
		font-size: 58px;
		line-height: 62px;
	}
	@include max-screen($tablet){
		top: 20%;
		font-size: 34px;
		line-height: 38px;
	}
	@include max-screen($mobile){
		font-size: 24px;
		line-height: 26px;
	}
}
.accent--bold{
	font-weight: bold;
}
.accent--text{
	color: $grey--dark;
	font-weight: bold;
	font-size: 23px;
	line-height: 27px;
	@include max-screen($tablet){
		font-size: 16px;
		line-height: 20px;
	}
}
.accent--colored{
	color: $green--light;
	font-weight: bold;
}
.heading--styled{
	text-align: center;
	font-weight: 900;
	span{
		font-weight: 300;
	}
}
.colored{
	color: $green--light;
}
div.messages{
	position: relative;
	z-index: 1;
	padding: 14px 24px;
	margin: 0 auto 26px !important;
	max-width: 300px;
	font-size: 15px;
	line-height: 19px;
	background-image: none;
	div.error{
		background: none;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.status.messages{
	border-color: $green--light;
}
.btn,
.btn-wrap a,
.btn-wrap button{
	padding: 10px 30px;
	display: inline-block;
	vertical-align: top;
	background: $green--light;
	color: $white;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	&:hover{
		background: $gray--darkest;
		color: $green--light;
	}
}
.slick-disabled{
	opacity: 0.1;
	cursor: default !important;
}
.slick-prev,
.slick-next{
	position: absolute;
	top: 50%;
	width: 35px;
	height: 99px;
	margin: -49px 0 0;
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
	background: none;
	-webkit-outline: none;
	outline: none;
	cursor: pointer;
	outline: none;
	&:before{
		content: '';
		position: absolute;
		width: 35px;
		height: 99px;
		top: 0;
		left: 0;
		@extend %iconsSprite;
		@include back-pos('ico-slide--left');
	}
	&:hover:before{
		@include back-pos('ico-slide--lefthover');
	}
}
.slick-next{
	&:before{
		@include back-pos('ico-slide--right');
	}
	&:hover:before{
		@include back-pos('ico-slide--righthover');
	}
}
.slick-dots{
	display: none !important;
}
.link--sign{
	display: inline-block;
	vertical-align: top;
	border: 1px solid $white;
	padding: 18px 78px 14px;
	text-transform: uppercase;
	font-size: 31px;
	line-height: 34px;
	color: $white;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	@include max-screen($desctop){
		padding: 8px 52px;
		font-size: 24px;
		line-height: 30px;
	}
	@include max-screen($tablet){
		padding: 5px 52px;
		font-size: 16px;
		line-height: 18px;
	}
	&:hover{
		text-decoration: none;
		background: rgba(0,0,0,0.85);
	}
	.price--sign{
		display: block;
		text-align: center;
		color: $green--light;
		text-transform: lowercase;
		font-size: 16px;
		line-height: 16px;
		@include max-screen($tablet){
			font-size: 12px;
		}
	}
	&:hover .price--sign{
		color: $white;
	}
}
.bg--dark{
	background: $brown--light;
}
.tabs{
	padding: 20px;
	background: $brown--light;
	text-align: center;
	border-bottom: 1px solid #c1c1c1;
	-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	a{
		padding: 0 40px !important;
	}
}
.grippie{
	display: none;
}
.header{
	&.header--darck{
		a{
			color: $gray--darkest;
			@include max-screen($tablet){
				color: $white;
			}
		}
	}
}
#main{
	& > .container:after{
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
}
.sidebar + section.content{
	width: 100%;
	//float: right;
	padding-left: 302px;
	@include max-screen(1600px){
		width: 100%;
	}
	@include max-screen($desctop){
		float: none;
		width: auto;
		padding-left: 0;
	}
}
section.conten{
	h3{
		font-weight: 300;
	}
}
#content-header{
	padding: 23px 30px;
	background: $brown--light;
	text-align: center;
	border-bottom: 1px solid #c1c1c1;
	-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	color: $green--light;
	@include max-screen($tablet){
		padding: 20px 20px 13px;
	}
	h1{
		font-size: 30px;
		line-height: 34px;
		font-weight: bold;
		margin: 0;
		@include max-screen($tablet){
			font-size: 21px;
			line-height: 34px;
		}
		a{
			color: $white;
			display: inline-block;
			background: $green--light;
			padding: 17px 47px;
			margin: -7px 10px -11px 0;
			text-decoration: none;
			font-size: 21px;
			line-height: 21px;
			transition: all 0.3s ease-out;
			@include max-screen($tablet){
				max-width: 240px;
				margin: 0 auto;
				padding: 8px 26px;
				font-size: 18px;
				line-height: 21px;
			}
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
	}
	div.messages{
		margin: 30px auto 0;
	}
}
.form-item{
	margin: 0 0 16px;
	@extend %clearfix;
}
.page-profile .profile-section:nth-child(2){
	.squads-title{
		text-align: center;
		color: $green--light;
		padding: 50px 0 20px;
		@include max-screen($tablet){
			padding: 20px 0 10px;
		}
	}
}
#product-node-form ::-webkit-input-placeholder{
	color:#777;
}
#product-node-form :-moz-placeholder{
	color:#777;
	opacity: 1;
}
#product-node-form ::-moz-placeholder{
	color:#777;
	opacity: 1;
}
#product-node-form :-ms-input-placeholder{
	color:#777;
}
#product-node-form input[type="text"],
#product-node-form input[type="email"],
#product-node-form input[type="password"],
#product-node-form .jcf-select-text,
#product-node-form .description{
	color: #777;
}
.profile-section{
	padding: 25px 29px 62px;
	&.profile-section--noheading{
		padding-top: 50px;
	}
	&.profile-section--accent{
		padding: 60px 29px 50px;
		@include max-screen($mobile){
			padding: 30px 29px;
		}
	}
	&.profile-section--twocol{
		label{
			float: left;
			padding: 16px 0 0;
			width: 35%;
			@include max-screen($mobile){
				padding: 0;
				margin: 0 0 10px;
				width: 100%;
				float: none;
			}
		}
		select,
		.jcf-select{
			float: right;
			width: 63.2%;
			@include max-screen($mobile){
				width: 100%;
				float: none;
			}
		}
	}
	&.profile-section--accent{
		label{
			font-weight: bold;
		}
	}
	.form-row{
		@extend %clearfix;
		.col-1{
			float: left;
			width: 35%;
			@include max-screen($mobile){
				width: 100%;
				float: none;
			}
			.jcf-checkbox{
				float: left;
				margin: 20px 10px 0 0;
				@include max-screen($mobile){
					margin: 4px 10px 0 0;
				}
			}
		}
		.col-2{
			float: right;
			width: 63.2%;
			input[type="text"]{
				width: 100%;
			}
			@include max-screen($mobile){
				width: 100%;
				float: none;
			}
		}
	}
	.heading--addintion{
		padding: 0 0 0 130px;
		margin: 0 0 26px;
		font-weight: bold;
		color: $green--light;
		font-size: 24px;
		line-height: 26px;
		text-transform: uppercase;
		@include max-screen($desctop){
			padding: 0 10px;
			text-align: center;
		}
	}
	h4{
		margin: 0 0 26px;
	}
	.profile-box--centered{
		max-width: 798px;
		padding-right: 86px;
		margin: 0 auto;
		@extend %clearfix;
		@include max-screen($desctop){
			padding: 0;
			max-width: 720px;
		}
		.col-wrap{
			float: right;
			width: 490px;
			@include max-screen($tablet){
				float: none;
				width: 100%;
			}
			input[type="text"]{
				width: 100%;
			}
		}
		.col-holder{
			@extend %clearfix;
		}
		.profile-col{
			float: left;
			width: 320px;
			@include max-screen($tablet){
				width: 48%;
			}
			@include max-screen($mobile){
				width: 100%;
			}
		}
		.profile-col2{
			float: right;
			width: 140px;
			@include max-screen($tablet){
				width: 48%;
			}
			@include max-screen($mobile){
				width: 100%;
			}
		}
		.profile-col,
		.profile-col2{
			input{
				width: 100%;
			}
			select,
			.jcf-select{
				width: 100%;
			}
		}
		label{
			margin: 0 0 8px;
		}
		.form-wrapper{
			margin: 0 0 10px;
		}
	}
	.photo-wrap .profile-photo{
		@include max-screen($tablet){
			width: 180px;
			margin: 0;
		}
	}
	.profile-photo-wrap{
		width: 180px;
		float: left;
		text-align: center;
		position: relative;
		@include max-screen($tablet){
			margin: 0 auto;
			float: none;
			width: auto;
		}
		legend{
			display: none;
		}
		.form-actions{
			margin: 0;
		}
		.image-preview,
		label,
		.upload-label{
			display: inline-block;
			padding: 0;
			float: none;
			width: 144px;
			height: 144px;
			border-radius: 50%;
			margin: 0 0 20px;
			border: 2px solid $brown--lighten;
			color: $brown--lighten;
			font-size: 20px;
			line-height: 18px;
			text-transform: uppercase;
			padding: 54px 20px;
			overflow: hidden;
			span{
				display: none;
			}
			img,
			label{
				font-size: 20px;
				line-height: 22px;
				letter-spacing: normal;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.upload-label.required{
			border-color: red;
		}
		.image-preview{
			padding: 0;
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translate3d(-50%, 0, 0);
				-ms-transform: translate3d(-50%, 0, 0);
					transform: translate3d(-50%, 0, 0);
			img{
				display: inline-block;
				width: 100%;
				height: auto;
			}
		}
		.image-widget-data{
			float: none;
			.file,
			.file-size{
				display: none;
			}
		}
		.description{
			display: none;
		}
		.filefield-sources-imce-display{
			display: none;
		}
		.form-type-textfield{
			margin: 0;
		}
		.filefield-source-imce{
			font-size: 0;
			line-height: 0;
		}
		.filefield-sources-imce-browse{
			padding: 11px 30px;
			background: $green--light;
			border: medium none;
			color: $white;
			font-size: 16px;
			line-height: 18px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-block;
			vertical-align: top;
			@include max-screen($mobile){
				width: 100%;
			}
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
	}
	.profile-box--centered2{
		max-width: 624px;
		margin: 0 auto;
		&.profile-box--centered3{
			width: 506px;
			.form-row{
				margin: 0 0 10px;
			}
			.col-2{
				.form-wrapper{
					margin: 0 0 10px;
					&:last-child{
						margin: 0;
					}
				}
			}
			@include max-screen($tablet){
				width: auto;
			}
			.form-item{
				margin: 0 0 10px;
			}
			.col-container{
				margin: 0 0 29px;
			}
			.form-wrapper{
				legend{
					display: none;
				}
			}
			.brand{
				float: right;
				width: 63.2%;
				max-width: 320px;
				@include max-screen($mobile){
					width: 100%;
				}
				.brand-item{
					padding: 18px 20px;
					@include max-screen($mobile){
						padding: 18px 16px;
					}
				}
				.form-wrapper{
					float: left;
					padding: 32px 0 0;
					margin: 0 14px 0 0;
				}
			}
		}
		&.profile-box--centered4{
			max-width: 530px;
			padding: 12px 0 0;
			@extend %clearfix;
			.col-container{
				label{
					padding: 7px 10px 0 0;
				}
				.jcf-select{
					width: 49.1%;
					@include max-screen($mobile){
						width: 100%;
					}
				}
			}
		}
		.col-container{
			margin: 0 0 4px;
			@extend %clearfix;
			.form-wrapper{
				@extend %clearfix;
			}
			.form-item{
				margin: 0 0 10px;
				@extend %clearfix;
				@include max-screen($mobile){
					margin: 0 0 20px;
				}
			}
			.form-textarea-wrapper{
				@extend %clearfix;
			}
			.jcf-select{
				margin: 0;
				float: right;
				width: 51.3%;
				@include max-screen($mobile){
					width: 100%;
					float: none;
				}
			}
			.form-item--textarea{
				label{
					float: none;
					padding: 0;
					margin: 0 0 17px;
				}
			}
			textarea{
				min-width: 100%;
				max-width: 100%;
				width: 100%;
				height: 170px;
				min-height: 150px;
				max-height: 200px;
			}
			.grippie{
				display: none;
			}
			.image-widget-data{
				width: 180px;
				text-align: center;
			}
			input[type="text"]{
				min-width: 138px;
				margin: 0 20px 0 0;
			}
			label{
				width: 48.7%;
				float: left;
				padding: 16px 10px 0 0;
				@include max-screen($mobile){
					padding: 0;
					margin: 0 0 10px;
					width: 100%;
					float: none;
				}
			}
			.field-name-field-certification{
				padding: 20px 0 0;
				label{
					padding-top: 6px;
					@include max-screen($mobile){
						padding: 0;
					}
				}
			}
			.form-managed-file{
				float: right;
				width: 51.3%;
				@include max-screen($mobile){
					float: none;
					width: 100%;
				}
				.image-widget-data{
					text-align: left;
					@include max-screen($mobile){
						text-align: center;
					}
				}
			}
			.image-widget-data{
				float: none;
				.file,
				.file-size{
					display: none;
				}
			}
			.filefield-sources-imce-display{
				display: none;
			}
			.form-type-textfield{
				// margin: 0;
			}
			.filefield-source-imce{
				font-size: 0;
				line-height: 0;
			}
			.filefield-sources-imce-browse{
				padding: 11px 30px;
				background: $green--light;
				border: medium none;
				color: $white;
				font-size: 16px;
				line-height: 18px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				display: inline-block;
				vertical-align: top;
				@include max-screen($mobile){
					width: 100%;
				}
				&:hover{
					background: $gray--darkest;
					color: $green--light;
				}
			}
			select{
				width: 45%;
				float: right;
				@include max-screen($mobile){
					width: 100%;
					float: none;
				}
			}
			.form-row{
				@extend %clearfix;
			}
			.field-offers{
				padding: 17px 0 0;
				margin: 0 0 21px;
				#edit-field-squad-offers-und{
					color: #777;
				}
				.form-item{
					label{
						float: left;
						width: 116px;
						padding: 0 10px 0 0;
						@include max-screen($mobile){
							width: 100%;
							float: none;
						}
					}
				}
				.form-checkboxes{
					overflow: hidden;
					font-size: 14px;
					line-height: 16px;
					.form-item{
						margin: 0 0 14px;
					}
					label{
						float: none;
						width: auto;
					}
				}
			}
			.field-equipment{
				margin: 0 0 10px;
			}
			.field-location{
				margin: 0 0 7px;
				.form-item{
					label{
						float: left;
						width: 116px;
						padding: 0;
						@include max-screen($mobile){
							width: 100%;
							float: none;
						}
					}
					.form-checkboxes{
						overflow: hidden;
						font-size: 14px;
						line-height: 16px;
						.form-item{
							color: #777;
							display: inline-block;
							min-width: 19.3%;
						}
						label{
							float: none;
							width: auto;
						}
					}
				}
			}
			.field-equipment{
				label{
					float: left;
					width: 116px;
					padding: 16px 10px 0 0;
					@include max-screen($mobile){
						width: 100%;
						float: none;
					}
				}
				input{
					float: right;
					width: 414px;
					margin: 0;
					@include max-screen($tablet){
						width: 51%;
					}
					@include max-screen($mobile){
						width: 100%;
						float: none;
					}
				}
			}
			.row-item{
				float: left;
				width: 44.5%;
				@include max-screen($tablet){
					width: 100%;
					float: none;
				}
				.jcf-select,
				input{
					width: 51%;
					float: right;
					min-width: 20px;
					margin: 0;
					@include max-screen($mobile){
						float: none;
						width: 100%;
					}
				}
				&:last-child{
					float: right;
					width: 50.6%;
					@include max-screen($tablet){
						width: 100%;
						float: none;
					}
					label{
						width: 28.7%;
					}
					.jcf-select{
						width: 71%;
						@include max-screen($tablet){
							width: 51%;
						}
						@include max-screen($mobile){
							float: none;
							width: 100%;
						}
					}
					.description{
						float: right;
						max-width: 190px;
						padding: 6px 10px;
						font-size: 13px;
						line-height: 16px;
						@include max-screen($tablet){
							clear: both;
							max-width: 9999px;
						}
					}
				}
				label{
					padding: 17px 10px 0 0;
					@include max-screen($mobile){
						padding: 0;
					}
				}
				.form-required{
					display: none;
				}
			}
			&.col-container--triple{
				.row-box{
					overflow: hidden;
				}
				.form-row{
					.form-item{
						margin: 0 0 20px;
					}
					input{
						margin: 0;
						width: 100%;
					}
					.param-head{
						float: left;
						font-weight: bold;
						padding: 16px 10px 0 0;
						width: 27.5%;
						@include max-screen($mobile){
							width: 100%;
							float: none;
							display: block;
							padding: 0 0 10px;
						}
					}
					.field-type-text{
						float: left;
						width: 47.3%;
						margin: 0 0 0 1%;
						@include max-screen($mobile){
							width: 100%;
							float: none;
							margin: 0;
						}
						&:last-child{
							float: right;
						}
					}
				}
			}
		}
		.col-container2{
			margin: 0 0 15px;
			.form-type-checkboxes{
				margin: 0;
				& > label{
					margin: 0 0 24px;
				}
				.form-checkboxes{
					margin: 0 -4px;
				}
			}
			.form-type-checkbox{
				margin: 0 0 12px;
				width: 32.9%;
				display: inline-block;
				vertical-align: top;
				padding: 0 4px;
				letter-spacing: 0;
				@include max-screen($tablet){
					width: 48%;
				}
				@include max-screen($mobile){
					width: 100%;
					padding: 0;
				}
				& *{
					letter-spacing: normal;
				}
			}
		}
		.col-container3{
			float: right;
			width: 300px;
			margin: 0;
			@include max-screen($tablet){
				width: 100%;
				float: none;
			}
			input{
				width: 100%;
			}
			label{
				display: none;
			}
			.form-wrapper{
				@extend %clearfix;
			}
			legend{
				float: left;
				padding: 16px 0 0;
				@include max-screen($mobile){
					float: none;
					padding: 0;
					margin: 0 0 10px;
					width: 100%;
				}
			}
			.form-item{
				&:last-child{
					margin: 0;
				}
				.form-item{
					margin: 0;
				}
			}
			.fieldset-wrapper{
				float: right;
				width: 186px;
				position: relative;
				@include max-screen($mobile){
					float: none;
				}
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					right: 16px;
					width: 16px;
					height: 15px;
					margin: -7px 0 0;
					@extend %iconsSprite;
					@include back-pos('ico-calendar');
				}
				.date-no-float{
					width: 100%;
				}
				.date-padding{
					float: none;
					padding: 0;
				}
				.description{
					display: none;
				}
			}
			#edit-field-goals,
			#edit-field-description{
				input{
					height: 82px;
				}
			}
		}
		.form-actions{
			text-align: right;
			margin: 0;
			input{
				border: none;
				background: $green--light;
				color: $white;
				text-transform: uppercase;
				padding: 17px 30px;
				font-size: 22px;
				line-height: 22px;
				@include max-screen($tablet){
					width: 100%;
				}
				&:hover{
					background: $gray--darkest;
					color: $green--light;
				}
			}
		}
	}
}
.profile-photo-wrap{
	.form-type-managed-file{
		label[for="edit-uc-product-image-und-0"]{
			display: none;
		}
	}
}
.profile-section2{
	padding-top: 72px;
	@include max-screen($tablet){
		padding-top: 40px;
	}
	h2{
		margin: 0 0 31px;
	}
}
// user connection page
.profile-section--users{
	.slick-track{
		display: inline-block;
	}
}
#block-wellsquad_configurations-my_squad_leaders,
#block-wellsquad_configurations-my_matches{
	.profile-section-connect{
		padding-bottom: 0;
	}
	.slick-track{
		margin: 0 auto;
	}
}
#block-wellsquad_configurations-my_squad_leaders{
	.profile-section-connect{
		background: $white;
	}
}
#block-wellsquad_configurations-featured_squad_leaders,
#block-wellsquad_configurations-my_squad_users,
#block-wellsquad_configurations-suggested_matches,
#block-wellsquad_configurations-suggested_users{
	.profile-section-connect{
		background: $white;
	}
	.block-title{
		color: $green--light;
		font-weight: 300;
	}
	h3.user-name{
		color: $green--light;
	}
	.slick-track{
		margin: 0 auto;
	}
}
#block-wellsquad_configurations-suggested_users{
	h2.block-title{
		color: $gray--darkest;
		font-weight: bold;
	}
}
#block-wellsquad_configurations-featured_squad_leaders,
#block-wellsquad_configurations-my_squad_users{
	border-bottom: 1px solid #c1c1c1;
	-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	.block-title{
		padding: 0;
	}
	.profile-section{
		padding-bottom: 41px;
	}
}
#block-wellsquad_configurations-my_matches{
	.profile-section-connect{
		padding-bottom: 28px;
	}
	.slick-track{
		margin: 0 auto;
	}
}
#block-wellsquad_configurations-suggested_matches{
	.profile-section-connect{
		padding-top: 0;
		background: $brown--light;
	}
	.block-title{
		padding-top: 0;
	}
}
.carousel-double{
	.user:first-child{
		margin: 0 0 60px;
		@include max-screen($mobile){
			margin: 0 0 30px;
		}
	}
}
.view-all{
	max-width: 800px;
	margin: -42px auto 27px;
	text-align: right;
	@include max-screen($mobile){
		margin: 0 auto 20px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	a{
		font-size: 15px;
		line-height: 18px;
	}
}
.users-wrapper2{
	@include max-screen($phablet){
		.slick-prev,
		.slick-next{
			top: 90px;
		}
	}
	h3.user-name{
		text-align: center;
		max-width: 160px;
		margin: 0 auto 6px;
	}
	.location{
		color: $grey--darkmore;
	}
}
.photo-holder{
	.rating{
		left: 26px;
		// @include max-screen($tablet){
		// 	left: 110px;
		// }
		// @include max-screen($mobile){
		// 	left: 28%;
		// }
	}
}
.all-squads{
	padding: 29px 40px 64px;
	h3{
		text-align: center;
		font-weight: 300;
		font-size: 24px;
		line-height: 26px;
		margin: 0 0 35px;
	}
	.all-squads-list{
		margin: 0;
		padding: 0;
		width: 360px;
		max-height: 394px;
		list-style: none;
		border: 1px solid $grey--light;
		overflow-y: scroll;
		@include max-screen($mobile){
			width: 100%;
			text-align: center;
		}
		li{
			padding: 8px 20px;
			border-top: 1px solid $grey--light;
			overflow: hidden;
			&:first-child{
				border: none;
			}
		}
		.user-photo{
			float: left;
			width: 60px;
			height: 60px;
			margin: 0 20px 0 0;
			@include max-screen($mobile){
				float: none;
				display: inline-block;
				margin: 0 0 10px;
			}
		}
		.squads-info{
			padding: 13px 0 0;
			overflow: hidden;
			@include max-screen($mobile){
				padding: 0;
			}
		}
		h5{
			color: $green--light;
			text-transform: none;
			font-weight: bold;
			margin: 0 0 2px;
			.counter{
				font-size: 16px;
				line-height: 20px;
				color: $gray--darkest;
			}
		}
		a{
			color: $gray--darkest;
		}
		.profile-anchor,
		.message-anchor{
			display: inline-block;
			margin: 0 10px 0 0;
			font-size: 13px;
			line-height: 15px;
		}
	}
}
// jcf
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected{
	background: $green--light;
	color: $white;
}
.jcf-select{
	border-color: $grey--light !important;
	height: 50px;
	padding: 11px 16px;
	min-width: 30px;
	margin: 0;
	&.jcf-focus,
	&.jcf-focus *,
	.jcf-select-drop .jcf-select-drop-content{
		border-color: $green--light !important;
	}
	.jcf-select-opener{
		background: $transparent;
		background: transparent;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -2px 0 0 -14px;
			@extend %iconsSprite;
			@include back-pos('ico-arrow--down');
		}
	}
	.jcf-select-text{
		font-size: 16px;
		line-height: 26px;
	}
	.jcf-list{
		font-size: 16px;
		line-height: 16px;
		.jcf-option{
			padding: 10px 24px;
		}
	}
}
.jcf-checkbox{
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
	:root & span{
		margin: -3px 0 0 -4px;
	}
}
.jcf-file{
	display: inline-block;
	margin: 0 0 10px;
	.jcf-fake-input{
		width: 100%;
		display: block;
		margin: 0 0 10px; 
	}
	.jcf-upload-button{
		display: block;
		margin: 0;
		border-top: none;
		width: 100%;
		border: none;
		height: auto;
		padding: 15px 30px;
		background: $green--light;
		color: $white;
		font-size: 21px;
		line-height: 23px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
.image-widget-data,
.file-widget{
	input,
	.jcf-upload-button{
		height: auto;
		border: none;
		background: $green--light;
		color: $white;
		text-transform: uppercase;
		width: 100%;
		padding: 11px 14px;
		font-size: 16px;
		line-height: 18px;
		font-weight: bold;
		cursor: pointer;
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
#cboxOverlay{
	opacity: 0.7 !important;
}

// dashboard page
.edit-goal{
	position: absolute;
	top: 68px;
	right: 100px;
	z-index: 1;
}
.goals-month{
	position: relative;
	.page-nav .slick-prev,
	.page-nav .slick-next{
		width: 12px;
		height: 36px;
		top: 22px;
		margin: 0;
		right: 72px;
		left: auto;
		z-index: $zIndex-9;
		&.disabled-month-link{
			opacity: 0.2;
			cursor: default !important;
		}
		&:before{
			width: 12px;
			height: 36px;
			top: 0;
			left: 0;
			@extend %iconsSprite;
			@include back-pos('ico-slide--leftminhover');
		}
		&:hover:before{
			@include back-pos('ico-slide--leftmin');
		}
	}
	.page-nav .slick-next{
		right: 40px;
		&:before{
			@include back-pos('ico-slide--rightminhover');
		}
		&:hover:before{
			@include back-pos('ico-slide--rightmin');
		}
	}
	.goal-month{
		position: relative;
		padding: 38px 10px 60px;
		border-bottom: 1px solid #c1c1c1;
		-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		@include max-screen($tablet){
			padding-top: 80px;
		}
		h2{
			padding: 0 0 0 110px;
			@include max-screen($tablet){
				padding: 0;
			}
		}
		& > time{
			position: absolute;
			top: 27px;
			right: 100px;
			font-size: 24px;
			line-height: 26px;
			color: $green--light;
			font-weight: 300;
			text-transform: uppercase;
			span{
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
	.gola-heding{
		max-width: 760px;
		margin: 0 auto 40px;
		padding: 32px 0 0;
		position: relative;
		text-align: center;
		.user-photo{
			width: 100px;
			height: 100px;
			position: absolute;
			top: 7px;
			left: 0;
			@include max-screen($tablet){
				position: static;
				margin: 0 auto 20px;
			}
		}
	}
}
.page-goals{
	#modalContent form.ctools-use-modal-processed{
		@include max-screen($mobile){
			width: 240px;
		}
	}
	div.ctools-modal-content .modal-header{
		width: 450px;
		@include max-screen($mobile){
			width: 265px;
		}
		.modal-title{
			display: block;
			text-align: center;
			padding: 30px 0 0;
			margin: 0 0 53px 30px;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 34px;
			color: $green--light;
			@include max-screen($mobile){
				margin: 0 0 20px 30px;
				padding: 20px 0 0;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}
.page-goals #modal-content,
.page-goals .modal-header,
.page-goals .ctools-modal-content{
	max-width: 450px !important;
	box-sizing: border-box !important;
}
#modalContent #wsg-create-goal-form,
#modalContent #wsg-create-leader-goal-form{
	max-width: 450px;
	& > div .form-item label{
		display: block;
	}
	.jcf-select{
		height: 26px;
	}
	label{
		width: auto;
	}
	label{
		float: left;
		padding: 16px 0 0;
		@include max-screen($mobile){
			margin: 0 0 10px;
			padding: 2px 0 0;
		}
	}
	.form-item-exercise-type{
		.jcf-select{
			float: right;
			width: 203px;
		}
	}
	.form-item-goal-num-val{
		input{
			float: right;
			width: 48px;
			padding: 15px 10px;
			margin: 0 189px 0 0;
		}
	}
	#monthly-goal-block,
	.form-item-goal-type{
		float: right;
		margin: -60px 0 0;
		&:after{
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}
		.jcf-select{
			width: 145px;
		}
	}
	#monthly-goal-block{
		margin: 0;
	}
	.form-item-goal-for{
		margin: 0 0 40px;
		@include max-screen($mobile){
			margin: 0 0 20px;
		}
		.jcf-select{
			float: right;
			width: 203px;
		}
	}
}
.goals-slider{
	max-width: 800px;
	margin: 0 auto;
	.slick-prev{
		margin: -96px 0 0;
		left: 0;
	}
	.slick-next{
		margin: -96px 0 0;
		right: 0;
	}
}
.goal-info{
	text-align: center;
	position: relative;
	.goal-preview{
		border-radius: 50%;
		overflow: hidden;
		width: 230px;
		height: 230px;
		position: absolute;
		top: 27px;
		left: 50%;
		margin: 0 0 0 -115px;
		img{
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
	.progress-circle{
		margin: 0 auto 4px;
		color: $white;
	}
	h3{
		text-transform: none;
		font-size: 58px;
		line-height: 58px;
		color: $green--light;
		margin: 0 auto;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 310px;
	}
	.action{
		font-size: 23px;
		line-height: 31px;
		text-transform: uppercase;
	}
}
.thumbnail-holder{
	overflow: hidden;
	max-width: 800px;
	margin: -60px auto 0;
	@include max-screen($tablet){
		margin: 0 auto;
		padding: 30px 0 0;
	}
}
.goal-thumbnail{
	margin: 0 20px 0 0;
	text-align: center;
	width: 236px;
	position: relative;
	float: right;
	@include max-screen($tablet){
		margin: 0 auto;
		float: none;
	}
	.goal-done{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 40px;
			right: 8px;
			@extend %iconsSprite;
			@include back-pos('ico-done');
			z-index: $zIndex-1;
		}
		&:before{
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			background-color: $green--light;
			border-radius: 50%;
			top: 36px;
			right: 7px;
			z-index: 10;
		}
	}
	.slick-prev,
	.slick-next{
		width: 12px;
		height: 36px;
		top: 50%;
		margin: 0;
		left: auto;
		margin: -18px 0 0;
		&:before{
			width: 12px;
			height: 36px;
			top: 0;
			left: 0;
			@extend %iconsSprite;
			@include back-pos('ico-slide--leftmin');
		}
		&:hover:before{
			@include back-pos('ico-slide--leftminhover');
		}
	}
	.slick-prev{
		left: -20px;
	}
	.slick-next{
		right: -20px;
		&:before{
			@include back-pos('ico-slide--rightmin');
		}
		&:hover:before{
			@include back-pos('ico-slide--rightminhover');
		}
	}
	.slick-active{
		.user-photo{
			border-color: $green--light;
		}
	}
	.user-photo{
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		border-width: 1px;
		margin: 0 5px;
	}
}
#block-wellsquad_configurations-check_in{
	float: left;
	width: 50%;
	padding: 55px 20px 10067px;
	margin: 0 0 -9999px;
	background: $brown--light;
	border-right: 1px solid $grey;
	-webkit-box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
	box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
	@include max-screen($phablet){
		float: none;
		width: 100%;
		padding: 55px 20px 68px;
		margin: 0;
		border-bottom: 1px solid $grey;
		-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	}
	@include max-screen($mobile){
		padding: 32px 20px;
	}
	h2{
		color: $green--light;
		text-align: left;
		font-size: 31px;
		line-height: 33px;
		margin: 0 0 30px;
		padding: 0;
	}
	.block-inner{
		max-width: 360px;
		margin: 0 auto;
	}
}
.brand{
	max-width: 330px;
	margin: 0 auto;
	border: 1px solid $grey;
	background: $white;
	.brand-item{
		padding: 18px 40px;
		overflow: hidden;
		border-top: 1px solid $grey;
		@include max-screen($mobile){
			padding: 14px 20px;
		}
		&:first-child{
			border: none;
		}
		.brand-preview{
			float: left;
			margin: 0 25px 0 0;
			border-radius: 15px;
			overflow: hidden;
		}
		.brand-holder{
			overflow: hidden;
		}
		h3{
			font-size: 24px;
			line-height: 24px;
			font-weight: normal;
			margin: 0 0 16px;
			text-transform: capitalize;
			text-align: center;
			@include max-screen($mobile){
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
	a{
		display: block;
		max-width: 145px;
		padding: 12px;
		background: $green--light;
		color: $white;
		font-size: 16px;
		line-height: 16px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
#wellsquad-configurations-send-message-form{
	padding: 26px 0 16px;
	#edit-title{
		margin: 0 0 34px;
		text-align: center;
		font-size: 24px;
		line-height: 32px;
		text-transform: uppercase;
		font-weight: 300;
		span{
			display: block;
			font-weight: bold;
			text-transform: none;
			color: $green--light;
		}
	}
	#edit-message-body{
		margin: 0 0 20px;
		height: 280px;
		min-height: 280px;
		max-height: 280px;
		font-size: 14px;
		line-height: 20px;
	}
}
.invite{
	padding: 12px 0 16px;
	font-size: 16px;
	line-height: 18px;
	h3{
		color: $green--light;
		text-align: center;
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -1px;
		margin: 0 0 24px;
	}
	#edit-submitted-message{
		margin: 0 0 20px !important;
		height: 120px !important;
		max-height: 120px !important;
		min-height: 120px !important;
		font-size: 14px;
		line-height: 20px;
	}
	.form-row2{
		margin: 0 0 18px;
		font-size: 15px;
		line-height: 18px;
		label{
			display: inline-block;
			font-weight: bold;
		}
		.param-name{
			display: inline;
		}
		.form-item{
			display: inline-block;
			margin: 0 !important;
			padding: 6px 0 0;
			p{
				margin: 0;
			}
		}
	}
}
#block-wsg-squad_users_for{
	float: right;
	padding: 55px 20px 10067px;
	margin: 0 0 -9999px;
	width: 50%;
	background: $brown--light;
	@include max-screen($phablet){
		float: none;
		width: 100%;
		padding: 55px 20px 68px;
		margin: 0;
	}
	@include max-screen($mobile){
		padding: 0 20px 32px;
	}
	.squad-users-wrapper{
		max-width: 360px;
		margin: 0 0 0 44px;
		@include max-screen($phablet){
			margin: 0 auto;
		}
	}
	.no-users{
		position: relative;
		border: 1px solid $grey;
		background: $white;
		height: 396px;
		max-width: 360px;
		font-size: 32px;
		line-height: 36px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
		.no-usersmsg{
			max-width: 150px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
					transform: translate3d(-50%, -50%, 0);
		}
	}
	.block-title{
		text-align: left;
		font-weight: 300;
		padding: 0;
		margin: 0 0 36px;
		.date{
			font-weight: bold;
			color: $green--light;
			@include max-screen($mobile){
				display: block;
			}
		}
	}
	.users-list{
		list-style: none;
		margin: 0;
		padding: 0;
		margin: 0 auto;
		border: 1px solid $grey;
		background: $white;
		max-height: 396px;
		li{
			padding: 9px 20px;
			border-top: 1px solid $grey;
			&:first-child{
				border: none;
			}
		}
		.user-photo{
			display: inline-block;
			vertical-align: middle;
			width: 60px;
			height: 60px;
			margin: 0 18px 0 0;
		}
		.info-holder{
			display: inline-block;
			vertical-align: middle;
			@include max-screen($mobile){
				max-width: 154px;
			}
		}
		h5{
			font-weight: bold;
			text-transform: capitalize;
			color: $green--light;
			margin: 0 0 4px;
		}
		.view-profile-link,
		.send-message{
			display: inline-block;
			margin: 0 12px 0 0;
			font-size: 13px;
			line-height: 15px;
			a{
				color: $gray--darkest;
			}
		}
	}
}
// goal page
#block-wsg-create_goal,
#block-wsg-create_leader_goal{
	float: left;
	width: 50%;
	padding: 26px 39px 10090px;
	margin: 0 0 -9999px;
	background: $brown--light;
	border-right: 1px solid #c1c1c1;
	-webkit-box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
	box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
	@include max-screen($phablet){
		float: none;
		width: 100%;
		margin: 0;
		padding: 26px 39px 61px;
		border-right: none;
		border-bottom: 1px solid #c1c1c1;
		-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
	}
	@include max-screen($mobile){
		padding: 40px 20px;
	}
	.block-title{
		margin: 0 0 52px;
		font-size: 32px;
		line-height: 34px;
		color: $green--light;
		text-align: left;
	}
	& > div{
		max-width: 385px;
		margin: 0 auto;
	}
	.form-item-goal-num-val{
		float: left;
		width: 195px;
		@include max-screen($mobile){
			float: none;
			width: 100%;
		}
		input{
			width: 50px;
			@include max-screen($mobile){
				width: 100%;
			}
		}
	}
	#monthly-goal-block,
	.form-item-goal-type{
		float: right;
		@include max-screen($mobile){
			float: none;
		}
		.jcf-select{
			width: 180px;
			@include max-screen($mobile){
				width: 100%;
			}
		}
	}
	label{
		float: left;
		width: 140px;
		padding: 17px 0 0;
		@include max-screen($mobile){
			float: none;
			width: 100%;
			padding: 0;
			margin: 0 0 10px;
		}
	}
	input,
	.jcf-select{
		width: 240px;
		float: right;
		padding: 11px 14px;
		@include max-screen($mobile){
			float: none;
			width: 100%;
			margin: 0 0 10px;
		}
	}
	.form-item {
		margin: 0 0 10px;
	}
	.form-item-goal-for{
		margin: 0 0 40px;
	}
	input[type="submit"]{
		border: none;
		float: right;
		max-width: 160px;
		padding: 15px;
		background: $green--light;
		color: $white;
		font-size: 21px;
		line-height: 23px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile){
			float: none;
			max-width: 100%;
		}
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
#block-wsg-squad_users_ranking,
#block-wsg-users_ranking{
	float: right;
	width: 50%;
	padding: 26px 39px 91px;
	@include max-screen($phablet){
		float: none;
		width: 100%;
	}
	@include max-screen($mobile){
		padding: 40px 20px;
	}
	.block-title{
		margin: 0 0 52px;
		font-size: 32px;
		line-height: 34px;
		text-align: left;
		font-weight: bold;
	}
	& > div{
		max-width: 400px;
		margin: 0 auto;
	}
	.squad-ranking-type{
		margin: -52px 0 34px;
		color: $grey--darkmore;
		font-weight: bold;
	}
	.ranking-list{
		list-style: none;
		margin: 0;
		padding: 0;
		border: 1px solid $grey;
		max-height: 432px;
		font-size: 14px;
		line-height: 16px;
		max-width: 398px;
		@include max-screen($mobile){
			font-size: 12px;
			line-height: 16px;
		}
		li{
			padding: 9px 20px;
			border-top: 1px solid $grey;
			@include max-screen($mobile){
				padding: 10px;
			}
			&:first-child{
				padding: 9px 14px 12px;
				font-size: 12px;
				line-height: 14px;
				border: none;
				background: $brown--light;
				text-align: right;
				span{
					display: inline-block;
					vertical-align: middle;
				}
			}
			.weekly{
				margin: 0 15px 0 0;
			}
		}
		.heading-user{
			width: 104px;
			margin: 0 18px 0 0;
			@include max-screen($mobile){
				width: 75px;
				margin: 0 2px 0 0;
			}
			h5{
				margin: 0;
				color: $green--light;
				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				@include max-screen($mobile){
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
		.user-count,
		.user-photo,
		.weekly-avg,
		.monthly_avg,
		.heading-user{
			display: inline-block;
			vertical-align: middle;
			text-transform: capitalize;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.user-count{
			text-overflow: viriables;
		}
		.user-count{
			width: 20px;
			margin: 0 4px 0 0;
		}
		.user-photo{
			width: 60px;
			height: 60px;
			margin: 0 18px 0 0;
			@include max-screen($mobile){
				margin: 0 2px 0 0;
				width: 44px;
				height: 44px;
			}
		}
		.weekly-avg,
		.monthly_avg{
			font-weight: bold;
		}
		.monthly_avg{
			max-width: 54px;
			@include max-screen($mobile){
				width: 46px;
			}
		}
		.weekly-avg{
			width: 58px;
			margin: 0 7px 0 0;
			@include max-screen($mobile){
				width: 48px;
				margin: 0 2px 0 0;
			}
		}
	}
}
#block-wsg-squad_users_ranking{
	float: none;
	width: 100%;
	max-width: 923px;
	margin: 0 auto;
	padding: 26px 39px 100px 48px;
	@include max-screen($phablet){
		border-top: 1px solid $grey;
	}
	@include max-screen($mobile){
		padding: 10px 20px 60px;
	}
	& > div{
		max-width: 100%
	}
	.ranking-list{
		background: #fff;
		max-width: 100%;
		li{
			&:first-child{
				background: #fff;
			}
		}
		.heading-user{
			width: 70%;
			@include max-screen($phablet){
				width: 63%;
			}
			@include max-screen($tablet){
				width: 49%;
			}
			@include max-screen($mobile){
				width: 75px;
			}
		}
	}
}
// 404 page
.not-found,
.page-not-found{
	#content-area{
		padding: 12% 28%;
		text-align: center;
		font-size: 22px;
		line-height: 30px;
		@include max-screen($desctop){
			padding: 12% 20%;
		}
		@include max-screen($mobile){
			padding: 20% 10%;
			font-size: 20px;
			line-height: 30px;
		}
		.content{
			max-width: 800px;
			margin: 0 auto;
		}
	}
}
.node-how-it-works,
.node-terms,
.node-privacy{
	max-width: 840px;
	margin: 0 auto 43px;
	padding: 53px 20px;
	font-size: 18px;
	line-height: 25px;
	@include max-screen($mobile){
		padding: 36px 20px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
	}
	p{
		margin: 0 0 28px;
	}
	h3{
		color: $green--light;
		text-transform: none;
		font-size: 23px;
		line-height: 25px;
		margin: 0 0 3px;
	}
	img{
		float: right;
		margin: 0 0 60px 60px;
		border-radius: 50%;
		border: 1px solid $brown--lighten;
		max-width: 254px;
		line-height: 174px;
		text-align: center;
		@include max-screen($mobile){
			float: none;
			margin: 0;
		}
	}
	blockquote{
		margin: 0 0 36px 60px;
		padding: 24px 17px;
		background: $brown--light;
		font-style: italic;
		color: #0c0c0c;
		border-left: 4px solid $green--light;
		text-align: left;
		@include max-screen($mobile){
			margin: 0 0 36px;
		}
		p{
			margin: 0;
		}
	}
	ul{
		margin: 0 0 22px 60px;
		padding: 0;
		list-style: none;
		text-align: left;
		@include max-screen($mobile){
			margin: 0 0 22px;
		}
		li{
			position: relative;
			padding: 0 0 0 22px;
			&:before{
				content: '';
				position: absolute;
				top: 11px;
				left: 0;
				background: $green--light;
				width: 7px;
				height: 7px;
				border-radius: 50%;
			}
		}
	}
	ol{
		margin: 0 0 29px 60px;
		padding: 0;
		list-style: none;
		text-align: left;
		counter-reset: point;
		@include max-screen($mobile){
			margin: 0 0 29px;
		}
		li{
			position: relative;
			padding: 0 0 0 25px;
			&:before{
				content: counter(point)".";
				counter-increment: point 1;
				position: absolute;
				left: 0;
				top: 0;
				font-weight: bold;
			}
		}
	}
}
#user-relationships-ui-request,
.confirmation{
	margin: 0 auto;
	max-width: 300px;
	padding: 84px 0;
	text-align: center;
	.form-actions{
		text-align: center;
	}
	input,
	.edit-cancel{
		display: inline-block;
		margin: 0 20px;
		border: none;
		background: $green--light;
		color: $white;
		text-transform: uppercase;
		padding: 17px 40px;
		font-size: 22px;
		line-height: 22px;
		@include max-screen($tablet){
			width: 100%;
			margin: 0 0 20px;
		}
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
.sticky-table{
	width: 540px;
	table-layout: fixed;;
	margin: 80px auto;
	thead,
	tr{
		border-bottom: 1px solid $grey;
		padding: 0;
	}
	th,
	td{
		padding: 15px 20px;
		border: none;
		@include max-screen($tablet){
			padding: 12px;
		}
	}
	a{
		display: inline-block;
		margin: 0 5px;
		@include max-screen($tablet){
			padding: 2px 0;
		}
	}
	@include max-screen($tablet){
		width: 300px;
		font-size: 14px;
		line-height: 16px;
	}
}

.page-profile-search{
	.profile-cart{
		max-width: 460px;
		margin: 0 auto 11px;
		h3{
			font-size: 24px;
			line-height: 26px;
			margin: 0 0 10px;
			@include max-screen($mobile){
				font-size: 20px;
				line-height: 22px;
			}
		}
		.photo-wrap{
			margin: 0 40px 0 0;
			display: inline-block;
			vertical-align: top;
			@include max-screen($mobile){
				margin: 0 14px 0 0;
			}
		}
		.profile-photo{
			width: 90px;
			height: 90px;
			@include max-screen($mobile){
				width: 60px;
				height: 60px;
			}
		}
		.param-holder{
			display: inline-block;
			vertical-align: top;
			@include max-screen($mobile){
				max-width: 172px;
			}
		}
		.param-row{
			margin: 0 0 3px;
		}
	}
	.more{
		display: none;
	}
	.pager{
		padding: 20px 0 0;
		li{
			@include max-screen($mobile){
				margin-left: 10px;
			}
		}
	}
}
#block-wps-profile_search{
	display: none;
	color: $green--light;
	border-bottom: 1px solid $grey;
	padding: 0 0 20px;
	#wps-search-form{
		.fieldset-wrapper{
			max-width: 400px;
			position: relative;
			margin: 0 auto;
			padding: 0 90px 0 0;
			@include max-screen($mobile){
				max-width: 300px;
			}
			input[type="text"]{
				width: 100%;
			}
			input[type="submit"]{
				position: absolute;
				top: 0;
				right: 0;
				padding: 16px 14px;
				margin: 0;
			}
		}
	}
}
.search-icon{
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/icon-search.png") no-repeat;
	background-size: 32px 32px;
	margin: -7px 0 0 20px;
	text-indent: -9999px;
	overflow: hidden;
	outline: none;
	-webkit-transform: scale(0.61);
			transform: scale(0.61);
}
.header--transparent{
	.search-icon{
		background: url("../images/icon-search--darck.png") no-repeat;
		background-size: 32px 32px;
		@include max-screen($tablet){
			background: url("../images/icon-search.png") no-repeat;
			background-size: 32px 32px;
		}
	}
}
