#block-wellsquad_calendar-squad_leader_calendar.dashboard-calendar{
	float: left;
	background: $brown--light;
	overflow: hidden;
	@include max-screen($phablet){
		float: none;
	}
	.block-inner{
		float: right;
		margin: 0 44px 0 0;
		@include max-screen($phablet){
			float: none;
			margin: 0 auto;
		}
	}
}
#block-wellsquad_calendar-squad_leader_calendar,
#block-wellsquad_calendar-user_goal_calendar{
	float: right;
	padding: 55px 20px 10067px;
	margin: 0 0 -9999px;
	width: 50%;
	@include max-screen($phablet){
		float: none;
		width: 100%;
		padding: 55px 20px 68px;
		margin: 0;
	}
	@include max-screen($mobile){
		padding: 32px 20px;
	}
	.block-inner{
		margin: 0 auto;
		max-width: 409px;
	}
	h2{
		font-size: 31px;
		line-height: 33px;
		margin: 0 0 30px;
		padding: 0;
		text-align: left;
	}
}
.calendar-holder{
	padding-right: 1px;
	& > span {
		display: block;
		margin: 0 0 14px;
		text-align: center;
	}
}
.calendar{
	width: 350px;
	max-width: 350px;
	margin: 0 auto 30px;
	border: 1px solid #f5f5f5;
	text-align: center;
	table-layout: fixed;
	border-collapse: collapse;
	@include max-screen($mobile){
		width: 100%;
	}
	th{
		padding: 11px 0;
		text-align: center;
	}
	.navigation{
		border-right: 1px solid $green--light;
		border-left: 1px solid $green--light;
		th{
			padding: 20px;
			background: $green--light;
			border: none;
			color: $white;
			font-weight: bold;
			font-size: 23px;
			line-height: 25px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.weekdays{
		background: $brown--light;
		font-size: 12px;
		line-height: 14px;
		border-right: 1px solid $grey;
		border-left: 1px solid $grey;
		th{
			text-align: center;
			font-weight: normal;
			border: none;
		}
	}
	.prev-next{
		color: $grey;
	}
	tbody{
		background: $white;
		tr{
			&:last-child{
				border-bottom: 1px solid $grey;
			}
			td{
				position: relative;
				height: 49px;
				border-top: 1px solid $grey;
				border-right: 1px solid $grey;
				&:first-child{
					border-left: 1px solid $grey;
				}
				&:hover{
					ul{
						display: block;
					}
				}
				.date{
					a{
						text-decoration: none;
						color: $gray--darkest;
					}
				}
			}
			.today:after{
				content: '';
				position: absolute;
				height: 48px;
				top: -1px;
				left: -1px;
				right: -1px;
				border: 1px solid $green--light;
			}
			ul{
				display: none;
				position: absolute;
				list-style: none;
				margin: 0;
				padding: 4px;
				top: 0;
				left: 1px;
				right: 1px;
				height: 47px;
				box-sizing: border-box;
				background: $green--light;
				color: $white;
				font-weight: bold;
				cursor: pointer;
				z-index: 9;
				a{
					color: $white;
					text-decoration: none;
					display: block;
					height: 41px;
					width: 100%;
				}
			}
		}
		.event-value{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: -6px;
				right: 0;
				border-right: 10px solid $green--light;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				box-sizing: border-box;
				-webkit-transform: rotate(132deg);
						transform: rotate(132deg);
			}
		}
	}
}