.uc-cart-checkout-form,
#uc-cart-checkout-form,
#uc-cart-checkout-form--2,
#uc-cart-checkout-form--3,
#uc-cart-checkout-form--4{
	@include max-screen($phablet){
		padding: 0 10px;
	}
	& > div{
		overflow: hidden;
	}
	.payment-methods{
		float: left;
		width: 64%;
		border-right: 1px solid #c1c1c1;
		-webkit-box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
		box-shadow: inset -1px 0 0 0 $white, 1px 0 0 0 $white;
		@include max-screen($phablet){
			float: none;
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #c1c1c1;
		}
	}
	#billing-pane,
	#payment-pane{
		max-width: 480px;
		margin: 0 auto;
		padding: 23px 0;
		& > legend{
			display: block;
			padding: 24px 0 0;
			font-size: 21px;
			line-height: 25px;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0 0 0 -41px;
			@include max-screen($phablet){
				margin: 0;
			}
		}
	}
	#payment-pane{
		padding-bottom: 106px;
		@include max-screen($phablet){
			padding-bottom: 0;
		}
	}
	.fieldset-description{
		margin: 0 0 20px;
		color: $grey--darkmore;
	}
	.form-required{
		display: none;
	}
	.form-item{
		margin: 0 0 10px;
		padding: 0;
	}
	.ajax-progress{
		margin: -3px 0 0 -1px;
	}
	.form-item-panes-payment-payment-method:last-child{
		margin: 0 0 3px;
	}
	.payment-details-credit{
		padding: 8px 0;
		p{
			margin: 0 0 18px;
			font-size: 14px;
			line-height: 18px;
			color: $grey--darkmore;
		}
	}
	input,
	select,
	.jcf-select{
		float: right;
		width: 300px;
		margin: 0;
		@include max-screen($mobile){
			float: none;
			width: 100%;
			margin: 0 0 10px;
		}
	}
	label{
		padding: 13px 0 0;
		margin: 0;
		float: left;
		width: 160px;
		text-align: left;
		@include max-screen($mobile){
			float: none;
			display: block;
			margin: 0 0 10px;
			width: 100%;
			padding: 0;
		}
	}
	#edit-panes-payment-payment-method{
		label{
			overflow: hidden;
			width: auto;
			float: none;
			display: block;
			padding: 0 0 20px;
			line-height: 30px;
		}
		.jcf-radio{
			float: left;
			margin: 7px 8px 0 0;
		}
		#paypal-includes{
			padding: 10px 0 0 71px;
			@include max-screen($mobile){
				padding: 0;
			}
		}
		.form-item:last-child{
			label{
				padding: 0;
			}
		}
	}
	#payment-details{
		margin: 0;
		.form-item{
			max-width: 416px;
			@include max-screen($mobile){
				max-width: 100%;
			}
		}
		label{
			width: 110px;
		}
		.form-item-panes-payment-details-cc-exp-month{
			width: 306px;
			@include max-screen($mobile){
				width: 100%;
				float: none;
				margin: 0 0 10px;
			}
		}
		.form-item-panes-payment-details-cc-exp-year{
			width: 100px;
			@include max-screen($mobile){
				width: 100%;
				float: none;
			}
		}
		.form-item-panes-payment-details-cc-cvv{
			max-width: 216px;
			@include max-screen($mobile){
				max-width: 100%;
			}
		}
	}
	.form-item-panes-payment-details-cc-exp-month{
		float: left;
		max-width: 370px;
		margin: 0 10px 10px 0;
		.jcf-select{
			width: 190px;
			@include max-screen($mobile){
				width: 100%;
			}
		}
	}
	.form-item-panes-payment-details-cc-exp-year{
		float: left;
		max-width: 100px;
		.jcf-select{
			width: 100%;
			.jcf-select-text{
				margin: 0 8px;
			}
		}
	}
	#edit-panes-payment-details-cc-cvv{
		max-width: 100px;
	}
	.form-item-panes-payment-details-cc-cvv{
		position: relative;
		max-width: 216px;
		.field-suffix{
			position: absolute;
			top: 68px;
			left: 224px;
			width: 160px;
			font-size: 14px;
			line-height: 16px;
			@include max-screen($mobile){
				top: 38px;
				left: 120px;
			}
			img{
				display: none;
			}
		}
	}
	.your-order{
		overflow: hidden;
		padding: 0 49px;
		@include max-screen($phablet){
			max-width: 480px;
			margin: 0 auto;
			overflow: visible;
		}
		@include max-screen($mobile){
			padding: 0 10px;
		}
		legend{
			display: block;
			padding: 25px 0 0;
			font-size: 21px;
			line-height: 23px;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0 0 23px -23px;
			color: $green--light;
			@include max-screen($phablet){
				margin: 0;
			}
		}
		.product-info{
			font-size: 14px;
			line-height: 18px;
			margin: 0 0 24px;
			.param{
				color: $grey--darkmore;
			}
		}
		#line-items-div{
			margin: 0 -9999px;
			padding: 8px 9999px;
			background: $brown--light;
			float: none;
			border: none;
			border-top: 1px solid #c1c1c1;
			-webkit-box-shadow: inset 0 1px 0 0 $white, 0 1px 0 0 $white;
			box-shadow: inset 0 1px 0 0 $white, 0 1px 0 0 $white;
			table{
				width: 100%;
				font-size: 14px;
				line-height: 16px;
				tbody{
					border: none;
				}
				tr:last-child{
					background: #eee;
					font-weight: bold;
					font-size: 19px;
					line-height: 30px;
					.title{
						font-weight: bold;
					}
				}
				td{
					padding: 5px 10px;
				}
				.title{
					width:210px;
					padding-left: 92px;
					font-weight: normal;
					@include max-screen($mobile){
						padding: 0;
					}
				}
				.price{
					text-align: right;
				}
			}
		}
	}
	.submit-holder{
		overflow: hidden;
		margin: 0 0 -9999px;
		padding: 8px 40px 9999px;
		background: $brown--light;
		text-align: center;
		@include max-screen($mobile){
			padding: 8px 0;
			margin: 0;
		}
		#edit-actions{
			text-align: center;
		}
		input#edit-cancel{
			float: none;
			display: inline-block;
			margin: 0 auto 10px;
			padding: 0;
			color: $green--light;
			background:transparent;
			border: none;
			text-decoration: underline;
			width: auto;
		}
		input#edit-continue{
			float: none;
			display: block;
			width: 100%;
			max-width: 268px;
			margin: 0 auto 10px;
			padding: 16px;
			border: none;
			background: $green--light;
			color: $white;
			font-size: 21px;
			line-height: 23px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			transition: all 0.2s ease-out;
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
	}
	#cart-pane{
		display: none;
	}
}
.page-cart-checkout-complete{
	#block-system-main{
		margin: 0 auto;
		max-width: 670px;
		padding: 10% 10px;
		text-align: center;
		@include max-screen($desctop){
			padding: 18% 10px;
		}
	}
}