.profile-section-connect {
    position: relative;
    overflow: hidden;
    .users-wrapper {
        padding: 0 50px;
    }
    .photo-wrap {
        max-width: 200px;
        .user-photo {
            width: 200px;
            height: 200px;
        }
    }
    button.slick-next,
    button.slick-prev {
        top: 27%;
        &:before {
            display: none;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border: 2px solid $white;
            top: 0;
            transition: all .3s;
        }
        &:hover:after {
            border-color: $green--light;
        }
    }
    button.slick-next {
        right: 0;
        &:after {
            right: 9px;
            transform: rotate(55deg) skew(21deg);
            -webkit-transform: rotate(55deg) skew(21deg);
        }
    }
    button.slick-prev {
        left: 0;
        &:after {
            left: 9px;
            transform: rotate(-55deg) skew(-21deg);
            -webkit-transform: rotate(-55deg) skew(-21deg);
        }
    }
}

.profile-section-connect--desktop {
    background-color: $grey--dark;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    .user-name {
        span {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 10px;
        }
    }
    .users-wrapper .location {
        color: $white;
    }
    .view-all {
        position: absolute;
        right: 60px;
        z-index: 1;
        margin: 0;
        width: auto;
        a {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .users-wrapper .send-email a,
    .photo-wrap .send-email a {
        left: inherit;
        right: 0;
        top: 150px;
    }
    .rating {
        padding: 0;
        font-size: 26px;
        line-height: 40px;
        &::first-letter {
            font-size: inherit;
            line-height: inherit;
        }
        .rating-desk {
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            line-height: 1;
            margin-top: 6px;
        }
    }
    .boxMore {
        background: $black--95;
        color: $white;
    }
    .boxMore-close {
        &:before,
        &:after {
            background: $white;
        }
        &:hover {
            &:before,
            &:after {
                background: $green--light;
            }
        }
    }
}

.profile-section.profile-section-connect {
    padding: 0;
}
.profile-section.profile-section-connect--main {
    padding: 0 0 40%;
}
.profile-section-connect--main {
    background-color: $grey--dark;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px 0 10px 1px;
    color: $white;
    .block-title {
        position: absolute;
        left: 90px;
        bottom: 60px;
        max-width: 500px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        text-align: left;
    }
}

.profile-section-connect--suggested {
    margin-bottom: 40px;
}

.profile-section.profile-section-connect--pendingMatches {
    padding: 40px 60px 20px;
}

.profile-section-connect--style1 {
    .block-title {
        padding: 0;
        margin-bottom: 60px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: $white;
        text-transform: uppercase;
        text-align: left;
    }
    .users-wrapper {
        max-width: 100%;
        z-index: 1;
        margin-bottom: 0;
    }
    .users-wrapper h3.user-name {
        position: relative;
        z-index: 1;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .btn-wrap {
        position: relative;
        z-index: 1;
        a {
            font-size: 18px;
            background: $white;
            color: $green--light;
            transition: all .3s;
        }
    }
}

.profile-section-connect--style2 {
    .block-title {
        padding: 0;
        margin-bottom: 60px;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        color: $green--light;
        text-transform: uppercase;
        text-align: left;
        span {
            font-size: 30px;
        }
    }
    .users-wrapper {
        max-width: 100%;
        z-index: 1;
        margin-bottom: 0;
    }
    .users-wrapper h3.user-name {
        position: relative;
        z-index: 1;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .btn-wrap {
        position: relative;
        z-index: 1;
        a {
            font-size: 18px;
            background: $white;
            color: $green--light;
        }
    }
}

.profile-section-connect--pendingMatches {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 165px;
        background: $green--light;
    }
    .photo-wrap {
        margin-bottom: 65px;
    }
}

.profile-section.profile-section-connect--myMatches {
    padding: 40px 60px 10px;
}

.profile-section-connect--myMatches {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 105px;
        background: $green--light;
    }
    .photo-wrap {
        margin-bottom: 65px;
    }
    .users-wrapper h3.user-name {
        margin-bottom: 0;
    }
}


.btn-read-more {
    position: absolute;
    top: 0;
    right: 60px;
    width: 160px;
    height: 70px;
    border: 0;
    border-radius: 0 0 15px 15px;
    background: $green--light;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background: $black;
        color: $green--light;
    }
}

.boxMore {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 22;
    padding: 40px 200px 60px 60px;
    background: $green--light--95;
    color: $black;
    font-size: 16px;
    line-height: 28px;
    transform: translateY(100%);
    transition: all .3s;
    width: 100%;
    &.is-open {
        transform: translateY(0);
    }
}

.boxMore-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    &:hover {
        &:before,
        &:after {
            background: $white;
        }
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 8px;
        width: 15px;
        height: 1px;
        background: $black;
        transition: all .3s;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.profile-section.profile-section-connect--myLeaders {
    padding: 40px 60px 10px;
}
.profile-section-connect--myLeaders {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 105px;
        background: $green--light;
    }
    .photo-wrap {
        margin-bottom: 65px;
    }
    .users-wrapper h3.user-name {
        margin-bottom: 0;
    }
}

.profile-section.profile-section-connect--suggestedMatches {
    padding: 40px 60px 20px;
}
.profile-section-connect--suggestedMatches {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: $green--light;
    }
    .photo-wrap {
        margin-bottom: 65px;
    }
    .users-wrapper2 .location {
        font-size: 18px;
        color: $white;
    }
    .view-all {
        bottom: 170px;
    }
}

.profile-section.profile-section-connect--squadLead {
    padding: 40px 60px 20px;
}
.profile-section-connect--squadLead {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 215px;
        background: $green--light;
    }
    .photo-wrap {
        margin-bottom: 70px;
    }
    .users-wrapper2 .location {
        font-size: 18px;
        color: $white;
    }
    .view-all {
        bottom: 230px;
    }
    .profession {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        span {
            display: block;
        }
    }
}

.profile-section.profile-section-mobMain {
    padding: 30px 10px 0;
}
.profile-section-mobMain {
    margin-bottom: 30px;
    .main-block {
        border: 1px solid $grey;
    }
}
.mobConnectMain-header {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60%;
    .block-title {
        position: absolute;
        left: 20px;
        bottom: 30px;
        max-width: 280px;
        font-size: 22px;
        color: $white;
        text-align: left;
        margin-bottom: 0;
    }
}
.mobConnectMain-body {
    border-top: 3px solid $green--light;
    font-size: 14px;
    line-height: 22px;
    padding: 25px 20px;
}

.profile-section-connect--mobile {
    position: relative;
    &.profile-section-connect {
        padding-bottom: 40px;
    }
    .photo-wrap {
        max-width: 125px;
        .user-photo {
            width: 125px;
            height: 125px;
            margin-bottom: 40px;
        }
    }
    .users-wrapper .send-email a,
    .photo-wrap .send-email a {
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
    .users-wrapper .user {
        padding: 0 10px;
    }
    h3.user-name {
        font-size: 18px;
        line-height: 20px;
        span {
            display: block;
        }
    }
    button.slick-next,
    button.slick-prev {
        top: 65px;
        width: 20px;
    }
    button.slick-next {
        right: 10px;
    }
    button.slick-prev {
        left: 10px;
    }
    .photo-holder .rating {
        left: 5px;
        top: 90px;
        padding: 0;
        line-height: 32px;
        width: 34px;
        height: 34px;
        &::first-letter {
            font-size: 18px;
        }
    }
    .block-title {
        font-size: 22px;
        margin: 0;
        padding: 30px 0 20px;
    }
    .view-all {
        padding-bottom: 40px;
        margin: 0;
        text-align: center;
    }
    .users-wrapper .location {
        color: $white;
        font-size: 13px;
    }
    .profession {
        font-size: 13px;
        span {
            display: block;
        }
    }
    .blockMob-bg {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 185px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            background: $green--light;
            width: 100%;
        }
    }
}
.users-wrapper--mob {
    position: relative;
    padding-top: 30px;
}
.profile-section-connect--mobPendMatches {
    .blockMob-bg {
        &:after {
            height: 60px;
        }
    }
    .users-wrapper--mob {
        background: $white;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey--extra;
    }
    .block-description {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 14px;
        text-align: left;
    }
    .users-wrapper {
        padding: 0 10px;
    }
}
.profile-section-connect--mobSqLead {
    .blockMob-bg {
        &:after {
            height: 60px;
        }
    }
    .mobBlock-readMore {
        border-bottom: 1px solid $grey--extra;
        font-size: 14px;
        padding: 20px 20px 25px;
    }
}

.profile-section-connect--mobMyMatches {
    .blockMob-bg {
        &:after {
            height: 60px;
        }
    }
    .mobBlock-readMore {
        background: $white;
        border-bottom: 1px solid $grey--extra;
        font-size: 14px;
        padding: 20px 20px 25px;
    }
    .users-wrapper {
        margin-bottom: 5px;
    }
}

.profile-section-connect--mobSugMatches {
    .blockMob-bg {
        &:after {
            height: 90px;
        }
    }
    .mobBlock-readMore {
        background: $white;
        border-bottom: 1px solid $grey--extra;
        font-size: 14px;
        padding: 20px 20px 25px;
    }
    .users-wrapper {
        margin-bottom: 5px;
    }
    .block-title {
        font-weight: 300;
        color: $green--light;
        .counter {
            display: block;
            font-size: 16px;
        }
    }
    .location {
        margin-bottom: 5px;
    }
}

.profile-section-connect--mobFeatureSqLead {
    .blockMob-bg {
        &:after {
            height: 125px;
        }
    }
    .mobBlock-readMore {
        background: $white;
        border-bottom: 1px solid $grey--extra;
        font-size: 14px;
        padding: 20px 20px 25px;
        margin-top: -18px;
    }
    .users-wrapper {
        margin-bottom: 5px;
    }
    .block-title {
        background: $white;
        font-weight: 300;
        color: $green--light;
        .counter {
            display: block;
            font-size: 16px;
        }
    }
    .location {
        margin-bottom: 5px;
    }
    .view-all {
        background: $white;
    }
}