.about-us{
	position: relative;
	.heading--accent{
		position: absolute;
		left: 50%;
		bottom: 18%;
		-webkit-transform: translate3d(-50%, 0, 0);
			-ms-transform: translate3d(-50%, 0, 0);
				transform: translate3d(-50%, 0, 0);
		@include max-screen($desctop){
			bottom: 14%;
		}
		@include max-screen($phablet){
			background: $gray--darkest;
			position: static;
			width: 100%;
			-webkit-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
		}
	}
	.preview-box{
		max-height: 800px;
		min-height: 400px;
		@include max-screen($desctop){
			min-height: 300px;
		}
		@include max-screen($phablet){
			min-height: 230px;
		}
		@include max-screen($tablet){
			min-height: 0;
		}
		img{
			display: block;
			width: 100%;
		}
	}
}
.heading--accent{
	background: rgba(12, 12, 12, 0.5);
	padding: 30px 40px 37px;
	width: 700px;
	margin: 0 auto;
	color: $white;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	@include max-screen($desctop){
		font-size: 18px;
		line-height: 22px;
	}
	@include max-screen($mobile){
		font-size: 14px;
		line-height: 20px;
		padding: 32px 40px;
	}
	h1{
		margin: 0 0 35px;
		font-size: 52px;
		line-height: 56px;
		color: $green--light;
		@include max-screen($desctop){
			margin: 0 0 12px;
			font-size: 40px;
			line-height: 44px;
		}
		@include max-screen($mobile){
			font-size: 28px;
			line-height: 32px;
		}
	}
}
.founder-holder{
	padding: 85px 10px 65px;
	font-size: 18px;
	line-height: 25px;
	@include max-screen($desctop){
		padding: 5% 6% 3%;
	}
	@include max-screen($tablet){
		padding: 14% 6% 3%;
	}
	&:nth-child(even){
		padding: 105px 10px 65px;
		@include max-screen($desctop){
			padding: 5% 6% 3%;
		}
		@include max-screen($tablet){
			padding: 14% 6% 3%;
		}
		.founder-desc{
			width: 52%;
			@include max-screen($desctop){
				width: 100%;
				float: none;
			}
		}
		.accent{
			padding: 8px 22px;
		}
	}
	h2{
		font-size: 60px;
		line-height: 64px;
		margin: 0 0 46px -28px;
		@include max-screen($desctop){
			margin: 0 0 4%;
		}
		@include max-screen($desctop){
			font-size: 40px;
			line-height: 46px;
		}
		@include max-screen($mobile){
			font-size: 25px;
			line-height: 27px;
		}
	}
	.accent{
		padding: 5px 22px;
	}
	p{
		margin: 0 0 26px;
	}
	&:nth-child(odd){
		background: $brown--light;
		.founder{
			max-width: 978px;
		}
	}
	&:nth-child(odd){
		.accent{
			color: $white;
			padding: 8px 30px;
		}
		.founder-desc{
			float: left;
			width: 56%;
			@include max-screen($desctop){
				width: 100%;
				float: none;
			}
		}
		.founder-photo{
			float: right;
			@include max-screen($desctop){
				margin: 0 auto 4%;
				float: none;
			}
			@include max-screen($mobile){
				margin: 0 auto 13%;
			}
		}
	}
	.founder-desc{
		float: right;
		width: 55%;
		padding: 4px 0 0;
		@include max-screen($desctop){
			width: 100%;
			float: none;
			text-align: center;
		}
	}
	.founder-photo{
		float: left;
		border-radius: 50%;
		overflow: hidden;
		width: 350px;
		height: 350px;
		border: 1px solid $brown--lighten;
		@include max-screen($desctop){
			margin: 0 auto 4%;
			float: none;
		}
		@include max-screen($mobile){
			width: 200px;
			height: 200px;
			margin: 0 auto 13%;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.founder{
		max-width: 910px;
		margin: 0 auto;
		@extend %clearfix;
	}
}
.btn-wrap--contact{
	text-align: center;
	padding: 20px 0 100px;
	@include max-screen($desctop){
		padding: 0 0 5%;
	}
	@include max-screen($mobile){
		padding: 0 0 12%;
	}
	a.contact-us{
		font-size: 30px;
		line-height: 32px;
		padding: 25px 48px;
		@include max-screen($desctop){
			padding: 12px 48px;
			font-size: 26px;
			line-height: 28px;
		}
	}
}