.header--transparent{
	background: transparent;
	margin: 0 0 -87px;
	position: relative;
	z-index: $zIndex-1;
	@include max-screen($phablet){
		margin: 0 0 -142px;
	}
	@include max-screen($tablet){
		margin: 0;
		background: $gray--darkest url("../images/bg-header.png") 0 0 no-repeat;
		a{
			color: $white;
		}
	}
}
.head-section{
	position: relative;
	overflow: hidden;
	.preview-holder{
		min-height: 760px;
		background: $black;
		@include max-screen($tablet){
			min-height: 330px;
		}
		@include max-screen($mobile){
			min-height: 0;
		}
		img{
			width: 100%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.heading--main{
		color: $white;
		text-align: center;
		width: 70%;
		position: absolute;
		top: 52.7%;
		left: 50%;
		-webkit-transform: translate3d(-50%, -50%, 0);
			-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
		@include max-screen($phablet){
			top: 61%;
			width: 90%;
		}
		@include max-screen($tablet){
			top: 20%;
			-webkit-transform: translate3d(-50%, 0, 0);
				-ms-transform: translate3d(-50%, 0, 0);
					transform: translate3d(-50%, 0, 0);
		}
		@include max-screen($mobile){
			top: 0;
			left: 0;
			position: relative;
			width: 100%;
			background: $black;
			padding: 36px 10px;
			-webkit-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
		}
		h1{
			margin: 0;
			.accent--bold{
				font-size: 77px;
				line-height: 83px;
				@include max-screen($desctop){
					font-size: 54px;
					line-height: 62px;
				}
				@include max-screen($tablet){
					font-size: 30px;
					line-height: 34px;
				}
				@include max-screen($mobile){
					font-size: 20px;
					line-height: 28px;
				}
			}
		}
		h2{
			margin: 0 0 111px;
			letter-spacing: -1px;
			@include max-screen($desctop){
				margin: 0 0 12%;
			}
			@include max-screen($tablet){
				margin: 0 0 6%;
				letter-spacing: 0;
			}
		}
		.accent{
			padding: 14px 72px 24px;
			color: $gray--darkest;
			@include max-screen($desctop){
				padding: 8px 36px;
			}
			@include max-screen($mobile){
				padding: 8px;
			}
		}
	}
	.connect{
		color: $grey--lighten;
		text-align: center;
		width: 70%;
		position: absolute;
		top: 17%;
		left: 50%;
		-webkit-transform: translate3d(-50%, 0, 0);
			-ms-transform: translate3d(-50%, 0, 0);
				transform: translate3d(-50%, 0, 0);
		font-size: 18px;
		line-height: 24px;
		@include max-screen($mobile){
			top: 0;
			left: 0;
			position: relative;
			width: 100%;
			background: $black;
			padding: 36px 10px;
			-webkit-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
			font-size: 14px;
			line-height: 16px;
		}
		h2{
			color: $green--light;
			font-size: 52px;
			line-height: 54px;
			@include max-screen($tablet){
				font-size: 26px;
				line-height: 28px;
			}
			@include max-screen($mobile){
				font-size: 18px;
				line-height: 20px;
			}
		}
		h3{
			font-size: 48px;
			line-height: 50px;
			@include max-screen($tablet){
				font-size: 24px;
				line-height: 26px;
			}
			@include max-screen($mobile){
				font-size: 20px;
				line-height: 22px;
			}
		}
		.accent{
			color: $gray--darkest;
		}
		.text-section{
			max-width: 400px;
			margin: 0 auto;
			padding: 17px 0;
			@include max-screen($mobile){
				padding: 0;
				text-shadow: 1px 1px 0 $black;
			}
		}
	}
	.features{
		background: $green--lighten;
		text-align: center;
		padding: 10% 0 4.6%;
		@include max-screen($desctop){
			padding: 10% 6% 4.6%;
		}
		.features-box{
			max-width: 1200px;
			margin: 0 auto;
			.accent--text{
				display: inline-block;
				max-width: 520px;
			}
		}
		.heding-features{
			margin: 0 0 5.3%;
		}
		h2{
			font-size: 52px;
			line-height: 54px;
			font-weight: 300;
			@include max-screen($desctop){
				margin: 0 0 14px;
				font-size: 36px;
				line-height: 40px;
			}
			@include max-screen($tablet){
				margin: 0 0 12px;
				font-size: 22px;
				line-height: 24px;
			}
			@include max-screen($mobile){
				margin: 0 0 8px;
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	.offers{
		max-width: 1200px;
		margin: 0 auto;
		padding: 9.6% 0 0;
		font-size: 23px;
		line-height: 32px;
		@include max-screen($phablet){
			padding: 4% 0 0;
			font-size: 16px;
			line-height: 20px;
		}
		h2{
			color: $green--light;
			margin: 0 0 40px;
			font-size: 50px;
			line-height: 54px;
			margin: 0 0 43px;
			@include max-screen($desctop){
				font-size: 36px;
				line-height: 40px;
			}
			@include max-screen($tablet){
				margin: 0 0 12px;
				font-size: 22px;
				line-height: 24px;
			}
			@include max-screen($mobile){
				margin: 0 0 8px;
				font-size: 18px;
				line-height: 22px;
			}
			.accent--bold{
				letter-spacing: 1px;
			}
			.accent--light{
				display: inline-block;
				vertical-align: top;
				margin: 0 0 0 -19px;
			}
		}
		p{
			margin: 0 0 32px;
			@include max-screen($phablet){
				margin: 0 0 10px;
			}
		}
		.accent{
			padding: 13px 22px;
		}
		.offers-text{
			position: relative;
			padding: 0 0 0 19px;
			max-width: 550px;
			@include max-screen($phablet){
				padding: 0 19px;
			}
		}
		.offers-preview{
			margin: -115px 0 8px;
			padding: 0 0 0 145px;
			min-height: 230px;
			@include max-screen($phablet){
				padding: 0;
				margin: 0;
			}
			img{
				max-width: 100%;
			}
		}
	}
}
.features-holder{
	line-height: 21px;
	.item-col{
		display: inline-block;
		vertical-align: top;
		@include max-screen(550px){
			display: block;
			margin: 0 auto;
		}
		.features-item{
			@include max-screen(550px){
				margin: 0 0 40px;
			}
		}
		&:last-child{
			.features-item{
				@include max-screen(550px){
					margin: 0;
				}
			}
		}
	}
	.item-col--vertical{
		.item-preview{
			margin: 0;
		}
		.item-description{
			display: block;
		}
	}
	.item-description{
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin: 0 3px 9px;
		padding: 30px 10px 15px;
		width: 230px;
		height: 240px;
		background: $white;
		color: $gray--darkest;
		text-decoration: none;
		@include max-screen(550px){
			display: block;
			margin: 0 auto 9px;
		}
		&:before{
			content: '';
			position: absolute;
		}
		&.arrow--right:before{
			top: 20px;
			left: 100%;
			border-left: 20px solid $white;
			border-top: 25px solid $transparent;
			border-bottom: 25px solid $transparent;
			@include max-screen(550px){
				top: 100%;
				left: 50%;
				margin: 0 0 0 -25px;
				border-top: 20px solid $white;
				border-left: 25px solid $transparent;
				border-right: 25px solid $transparent;
			}
		}
		&.arrow--right:hover:before{
			border-left-color: $green--light;
			@include max-screen(550px){
				border-left-color: $transparent;
				border-top-color: $green--light;
			}
		}
		&.arrow--left:before{
			top: 20px;
			left: -20px;
			border-right: 20px solid $white;
			border-top: 25px solid $transparent;
			border-bottom: 25px solid $transparent;
			@include max-screen(550px){
				top: -20px;
				left: 50%;
				margin: 0 0 0 -25px;
				border-top: none;
				border-bottom: 20px solid $white;
				border-left: 25px solid $transparent;
				border-right: 25px solid $transparent;
			}
		}
		&.arrow--left:hover:before{
			border-right-color: $green--light;
			@include max-screen(550px){
				border-right-color: $transparent;
				border-bottom-color: $green--light;
			}
		}
		&.arrow--bottom:before{
			top: 100%;
			left: 20px;
			border-top: 20px solid $white;
			border-left: 25px solid $transparent;
			border-right: 25px solid $transparent;
			@include max-screen(550px){
				left: 50%;
				top: 100%;
				margin: 0 0 0 -25px;
			}
		}
		&.arrow--bottom:hover:before{
			border-top-color: $green--light;
		}
		&:hover{
			background: $green--light;
			& + .item-preview{
				-webkit-box-shadow: inset 0 0 0 1px $green--light;
				box-shadow: inset 0 0 0 1px $green--light;
			}
		}
		.item-icon{
			position: relative;
			margin: 0 auto 15px;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			border: 1px solid $green--light;
			background: $white;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
			}
			&.icon-1:before{
				@extend %iconsSprite;
				@include back-pos('icon-1');
			}
			&.icon-2:before{
				@extend %iconsSprite;
				@include back-pos('icon-2');
			}
			&.icon-3:before{
				@extend %iconsSprite;
				@include back-pos('icon-3');
			}
			&.icon-4:before{
				@extend %iconsSprite;
				@include back-pos('icon-4');
			}
			&.icon-5:before{
				@extend %iconsSprite;
				@include back-pos('icon-5');
			}
			span{
				display: inline-block;
				text-indent: -9999px;
				overflow: hidden;
			}
		}
		strong{
			display: block;
			font-weight: bold;
			margin: 0 0 15px;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 22px;
		}
	}
	.item-preview{
		display: inline-block;
		width: 230px;
		height: 240px;
		margin: 0 3px;
		img{
			max-width: 100%;
		}
	}
}