.profile-section.create-message{
	padding-top: 62px;
}
.page-dashboard{
	#modalContent .ctools-modal-content, #modalContent #modal-content{
		width: auto !important;
	}
}
.page-msg{
	#privatemsg-new .form-item-recipient label{
		padding: 15px;
		width: 18px;
		height: 18px;
	}
	.jcf-file{
		text-align: center;
		width: 214px;
	}
	.jcf-select{
		height: 26px;
	}
	.jcf-file{
		.jcf-fake-input{
			box-sizing: border-box !important;
		}
		.jcf-upload-button{
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			box-sizing: border-box !important;
		}
	}
	#modalContent form.ctools-use-modal-processed{
		& > div .form-item:first-child{
			label{
				display: block;
			}
			label[for="edit-subject"]{
				display: none;
			}
		}
	}
	div.ctools-modal-content .modal-header{
		.close{
			position: absolute;
			top: 15px;
				right: 15px;
			}
			.modal-title{
			display: block;
			text-align: center;
			padding: 30px 0 0;
			margin: 0 0 53px 30px;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 34px;
			color: $green--light;
			@include max-screen($mobile){
				margin: 0 0 20px 30px;
				padding: 20px 0 0;
				font-size: 19px;
				line-height: 23px;
			}
		}
	}
}
#block-wellsquad_configurations-inbox_messages{
	margin: 0 0 -9999px;
	padding-bottom: 10061px;
	background: $white;
}
#privatemsg-new{
	max-width: 670px;
	margin: 0 auto;
	fieldset.filter-wrapper{
		display: none;
	}
	input[type="text"]{
		width: 100%;
		background: transparent;
	}
	.form-item-recipient{
		margin: 0 0 10px;
		padding: 0 0 0 56px;
		position: relative;
		label{
			position: absolute;
			top: 0;
			left: 0;
			width: 57px;
			border: 1px solid $grey--light;
			padding: 15px 20px;
			font-weight: bold;
		}
		.form-required{
			display: none;
		}
	}
	.text-format-wrapper{
		margin: 0 0 30px;
	}
	textarea{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 220px;
		min-height: 220px;
		max-height: 300px;
		padding: 13px 0 0 18px;
		line-height: 23px;
	}
	.form-actions{
		margin: 0;
	}
	.ckeditor_links{
		display: inline-block;
		padding: 10px 0;
	}
	.form-item-files-file{
		label{
			margin: 0 0 15px;
		}
		.jcf-file *{
			border-color: $grey--light;
		}
	}
	input[type="submit"]{
		padding: 16px 52px;
		display: inline-block;
		vertical-align: top;
		background: $green--light;
		color: $white;
		font-size: 22px;
		line-height: 22px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		border: none;
		@include max-screen($mobile){
			width: 100%;
		}
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
.newmsg-buttons{
	max-width: 860px;
	margin: 0 auto;
	padding: 0 0 0 127px;
	text-align: center;
	@include max-screen($phablet){
		padding: 0;
	}
	.btn-wrap{
		display: inline-block;
		a{
			padding: 15px 30px;
			margin: 0 8px;
			font-size: 20px;
			line-height: 24px;
			@include max-screen($tablet){
				margin: 0 0 20px;
			}
		}
	}
}
.message-area{
	max-width: 860px;
	margin: 0 auto 30px;
	overflow: hidden;
	& > .tabset{
		list-style: none;
		margin: 0 27px 0 0;
		padding: 0;
		float: left;
		text-align: center;
		font-size: 18px;
		line-height: 20px;
		@include max-screen($phablet){
			float: none;
			margin: 0 0 30px;
		}
		li{
			@include max-screen($phablet){
				display: inline-block;
			}
		}
		a{
			display: block;
			padding: 6px;
			width: 100px;
			border: 1px solid transparent;
			text-decoration: none;
			color: #777;
		}
		.active{
			color: $green--light;
			font-weight: bold;
			border-color: $grey--light;
		}
	}
	.message-box{
		float: left;
		width: 730px;
		@include max-screen($phablet){
			float: none;
			width: auto;
		}
	}
}
#wellsquad-configurations-reply-form{
	display: none;
}
.inbox-messages{
	max-width: 730px;
	border: 1px solid $grey--light;
	overflow: hidden;
	@include max-screen($phablet){
		margin: 0 auto;
	}
	.messages{
		background: #fcfcfc;
		margin: 0;
		padding: 0;
		list-style: none;
		max-height: 656px;
		overflow-y: auto;
		#wellsquad-configurations-reply-form{
			display: block;
		}
		li{
			overflow: hidden;
			padding: 6px 11px;
			position: relative;
			display: block;
			background: $white;
			border-top: 1px solid $grey--light;
			@include max-screen($tablet){
				text-align: center;
			}
			@include max-screen($phablet){
				padding: 15px;
			}
			&:first-child{
				border: none;
			}
			&.unread{
				background: #f6f6f6;
			}
			.msg-author{
				float: left;
				width: 128px;
				padding: 2px 10px 0 0;
				@include max-screen($phablet){
					width: auto;
					padding: 0;
					float: none;
				}
			}
			.active{
				background: #fff;
			}
		}
		.profile-photo{
			width: 60px;
			height: 60px;
			border-width: 1px;
			margin: 0 11px 0 0;
			float: left;
			@include max-screen($tablet){
				float: none;
				margin: 0 auto 10px;
			}
		}
		.inbox{
			padding: 2px 28px 0 0;
			overflow: hidden;
			font-size: 13px;
			line-height: 16px;
			@include max-screen($phablet){
				padding: 0;
			}
		}
		.short-message{
			margin: 0 0 6px;
			color: $green--light;
		}
		strong{
			display: block;
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 8px;
			text-transform: none;
			font-weight: bold;
			color: $green--light;
			text-transform: capitalize;
		}
		p{
			margin: 0 0 1px;
			overflow: hidden;
		}
		time{
			float: right;
			padding: 4px 0 0;
			text-align: right;
			color: $grey--darkmore;
			font-size: 12px;
			line-height: 16px;
			@include max-screen($tablet){
				text-align: center;
			}
			@include max-screen($phablet){
				float: none;
				display: block;
				padding: 0;
				margin: 0 0 10px;
			}
		}
	}
	.reply-form{
		margin: 0 0 16px;
		overflow: hidden;
		.full-message{
			margin: 0 0 17px;
			// font-size: 14px;
			// line-height: 23px;
			// height: 210px;
			// overflow: auto;
			@include max-screen($mobile){
				height: auto;
			}
		}
		.form-item{
			margin: 0 0 10px;
		}
		::-webkit-input-placeholder {
			color:#777;
		}
		:-moz-placeholder {
			color:#777;
			opacity: 1;
		}
		::-moz-placeholder {
			color:#777;
			opacity: 1;
		}
		:-ms-input-placeholder {
			color:#777;
		}
		textarea{
			padding: 8px 0 0 10px;
			min-height: 78px;
			max-height: 58px;
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			height: 78px;
			font-size: 12px;
			line-height: 14px;
			color: #777;
		}
		input[type="submit"]{
			float: right;
			padding: 10px 35px;
			display: inline-block;
			vertical-align: top;
			background: $green--light;
			color: $white;
			font-size: 17px;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			border: none;
			@include max-screen($mobile){
				width: 100%;
			}
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
	}
}