/* Login, Sign-up popups */
#modalContent{
	min-height: 440px;
	height: auto !important;
	.ctools-modal-content,
	#modal-content{
		height: auto !important;
		overflow: hidden;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	*{
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	#modal-throbber{
		min-height: 20px;
		padding: 40px 0 62px;
		.modal-throbber-wrapper{
			margin: 0 auto;
			width: 220px;
			height: 19px;
			background: url("../images/ajax-loader.gif") no-repeat;
		}
		img{
			display: none !important;
		}
	}
	.jcf-list ul{
		max-height: 216px;
	}
}
#cboxLoadingGraphic{
	background: url("../images/ajax-loader.gif") 50% 50% no-repeat;
}
div.ctools-modal-content .modal-content{
	padding: 20px;
	width: 100% !important;
}
div.ctools-modal-content{
	margin: 0;
	border: none;
	@include max-screen($mobile){
		width: 280px !important;
	}
	.modal-header{
		background: none;
		padding: 15px 15px 0 0;
		.close{
			background: none;
			position: absolute;
			top: 15px;
			right: 15px;
			width: 14px;
			height: 14px;
			margin: 0;
			text-indent: -9999px;
			overflow: hidden;
			z-index: 9;
			img{
				display: none;
			}
			&:before,
			&:after{
				position: absolute;
				top: 6px;
				left: -2px;
				content: '';
				background: #1f1f1f;
				width: 19px;
				height: 1px;
				-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
			}
			&:after{
				-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
			}
			&:hover{
				&:before,
				&:after{
					background: $green--light;
				}
			}
		}
		.modal-title{
			display: none;
		}
	}
}
.ajax-register-links-wrapper{
	margin: 0 0 51px;
	.ajax-register-links{
		display: block;
		font:300 28px/31px 'Roboto', sans-serif;
		text-align: center;
		margin: 0;
		padding: 6px 0 0;
		text-transform: uppercase;
		@include max-screen($mobile){
			font-size: 20px;
			line-height: 23px;
		}
		&:after{
			display: block;
			content: '';
			clear: both;
		}
		li{
			padding: 0;
			width: 50%;
			position: relative;
			float: left;
			margin: 0;
			&:before{
				position: absolute;
				top: -4px;
				left: 0;
				content: '';
				width: 1px;
				height: 40px;
				background: $gray--darkest;
				@include max-screen($mobile){
					height: 27px;
					top: -2px;
					left: 0;
				}
			}
			&:first-child{
				margin: 0;
				&:before{
					display: none;
				}
			}
			a{
				text-decoration: none;
				border: 0;
				padding: 0;
				color: $gray--darkest;
				&:hover{
					color: $green--light;
				}
			}
		}
	}
}
#user-login .ajax-register-links-wrapper .ajax-register-links li.last a,
.user-login .ajax-register-links-wrapper .ajax-register-links li.last a,
#user-register-form .ajax-register-links-wrapper .ajax-register-links li.first a,
.user-register-form .ajax-register-links-wrapper .ajax-register-links li.first a,
.user-login .ajax-register-links-wrapper .ajax-register-links li.last a,
.user-register-form .ajax-register-links-wrapper .ajax-register-links li.first a{
	font-weight: 900;
	color: $green--light;
}
#user-login{
	padding: 20px 0 0;
}
.edit-fbconnect-button,
#edit-fbconnect-button,
#edit-fbconnect-button--2,
#edit-fbconnect-button--3,
.user-login .facebook-action-connect{
	text-align: center;
	a{
		display: inline-block;
		background: url('../images/bg-facebook.png') no-repeat;
		width: 320px;
		height: 70px;
		background-size: 100%;
		img{
			display: none;
		}
		@include max-screen($mobile){
			width: 250px;
			height: 55px;
		}
	}
	.description{
		font:300 16px/19px 'Roboto', sans-serif;
		color: $gray--darkest;
		margin: 21px 0 26px;
		text-transform: lowercase;
	}
}
div.modal-forms-modal-content .popups-container{
	border-radius: 0;
}
#modalContent form.ctools-use-modal-processed{
	@include max-screen($mobile){
		width: 250px;
		margin: 0 auto;
	}
	> div{
		padding: 0 45px 45px;
		@include max-screen($mobile){
			padding: 0 0 20px;
		}
		.form-item{
			margin: 0 0 10px;
			label{
				display: none;
			}
			input[type="text"],
			input[type="password"],
			input[type="email"]{
				width: 100%;
				border:1px solid $grey--light;
				padding: 15px 20px;
				font-weight: 300;
				box-sizing: border-box;
				background-color: $white;
			}
			.resizable-textarea{
				margin: 0;
			}
			.grippie{
				display: none;
			}
			textarea{
				padding: 16px 0 0 19px;
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				height: 138px;
				min-height: 138px;
				max-height: 138px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			.form-actions{
				margin: 0;
			}
		}
		> .item-list{
			width: 50%;
			float: left;
			margin: -4px 0 0;
			.ajax-register-links{
				margin: 0;
				list-style: none;
				li{
					margin: 0;
				}
				a{
					color: #777;
					font:300 13px/16px 'Roboto', sans-serif;
					&:hover{
						color: $green--light;
						text-decoration: underline;
					}
				}
			}
		}
		#edit-actions,
		#edit-actions--2{
			float: right;
			width: 50%;
			margin: 0;
			input[type="submit"]{
				width: 160px;
				height: 55px;
				box-sizing: border-box !important;
				font:bold 21px/52px 'Roboto', sans-serif;
				text-transform: uppercase;
				color: $white;
				text-align: center;
				background: $green--light;
				border: none;
				padding: 0;
				float: right;
				cursor: pointer;
				@include max-screen($mobile){
					width: 110px;
					height: 37px;
					line-height: 35px;
					font-size: 19px;
				}
				&:hover{
					background: $gray--darkest;
					color: $green--light;
				}
			}
		}
		&:after{
			display: block;
			content: '';
			clear: both;
		}
	}
}
#modalContent .user-register-form.ctools-use-modal-processed > div,
#modalContent #user-register-form.ctools-use-modal-processed > div,
#modalContent #user-register-form--2.ctools-use-modal-processed > div,
#modalContent #user-register-form--3.ctools-use-modal-processed > div{
	padding-bottom: 0;
	.edit-fbconnect-button,
	#edit-fbconnect-button{
		margin: 0 0 9px;
	}
	.edit-actions,
	#edit-actions,
	#edit-actions--2,
	#edit-actions--3{
		float: none;
		width: 100%;
		input[type="submit"]{
			width: 100%;
			&:first-child{
				margin: 0 0 10px;
			}
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
		.edit-message > div,
		#edit-message{
			clear: both;
			padding: 26px 0 0;
			font-size: 13px;
			line-height: 16px;
			text-align: center;
			color: #777;
			a{
				margin: 0 3px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
} 
#modalContent #webform-client-form-9.ctools-use-modal-processed > div{
	.form-item:first-child{
		text-align: center;
		h3{
			font-size: 46px;
			line-height: 46px;
			text-transform: capitalize;
			color: $green--light;
			@include max-screen($mobile){
				font-size: 30px;
				line-height: 32px;
			}
		}
		& > div{
			font-weight: bold;
			padding: 22px 0 7px;
			@include max-screen($mobile){
				padding: 0;
			}
			p{
				margin: 0 0 36px;
				@include max-screen($mobile){
					margin: 10px;
				}
				&:first-child{
					margin: 0;
				}
			}
			a{
				color: $gray--darkest;
				text-decoration: none;
			}
		}
	}
	.form-actions{
		float: right;
		width: 50%;
		margin: 0;
		padding: 10px 0 0;
		input[type="submit"]{
			width: 160px;
			height: 55px;
			box-sizing: border-box !important;
			font:bold 21px/52px 'Roboto', sans-serif;
			text-transform: uppercase;
			color: $white;
			text-align: center;
			background: $green--light;
			border: none;
			padding: 0;
			float: right;
			cursor: pointer;
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
			@include max-screen($mobile){
				width: 110px;
				height: 37px;
				line-height: 35px;
				font-size: 19px;
			}
		}
	}
}
.user-register-form,
#user-register-form{
	.edit-fbconnect-button,
	#edit-fbconnect-button{
		a{
			background-image: url('../images/bg-signup-facebook.png');
		}
		.description{
			margin: 1px 0 12px;
			font-size: 13px;
		}
	}
	.edit-account,
	#edit-account{
		.form-item-mail label{
			display: block;
			text-align: center;
			font-size: 18px;
			line-height: 21px;
			font-weight: 900;
			color: $gray--darkest;
			margin: 0 0 17px;
			.form-required{
				display: none;
			}
		}
	}
}
#modal-throbber{
	@include max-screen($mobile){
		display: none !important;
	}
}
/* Forgot password popup */
#modalContent  #user-pass{
	padding: 0 0 39px;
	> div{
		padding: 0 45px 0;
		@include max-screen($mobile){
			padding: 0;
		}
	}
	#edit-description{
		text-align: center;
		font-size: 20px;
		line-height: 20px;
		margin: 0 0 17px;
		padding: 10px 27px 0;
		h2{
			font:bold 28px/31px 'Roboto', sans-serif;
			margin: 0 0 31px;
			color: $green--light;
		}
	}
	.form-item{
		padding: 0 14px 20px;
		margin: 0;
	}
	label{
		display: none;
	}
	input[type="text"]{
		width: 100%;
		border:1px solid $grey--light;
		padding: 15px 20px;
		font-weight: 300;
		box-sizing: border-box;
		background-color: $white;
	}
	.ajax-register-links-wrapper{
		padding: 0 0 0 15px;
		width: 50%;
		float: left;
		margin: -11px 0 0;
		box-sizing: border-box;
		// @include max-screen($mobile){
		// 	float: none;
		// 	width: 100%;
		// }
		.item-list{
			margin: 0;
			width: 100%;
			.ajax-register-links{
				margin: 0;
				list-style: none;
				padding: 0;
				text-align: left;
				line-height: 19px;
				li{
					margin: 0;
					width: 100%;
					a{
						color: #777;
						font:300 13px/16px 'Roboto', sans-serif;
						text-transform: none;
						text-decoration: underline;
						&:hover{
							color: $green--light;
						}
					}
				}
			}
		}
	}
	#edit-actions,
	#edit-actions--2,
	#edit-actions--3{
		float: right;
		width: 50%;
		margin: 0;
		padding: 0 15px 0 0;
		box-sizing: border-box;
		input[type="submit"]{
			width: 160px;
			height: 55px;
			box-sizing: border-box !important;
			font:bold 21px/52px 'Roboto', sans-serif;
			text-transform: uppercase;
			color: $white;
			text-align: center;
			background: $green--light;
			border: none;
			padding: 0;
			float: right;
			cursor: pointer;
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
			@include max-screen($mobile){
				width: 110px;
				height: 37px;
				line-height: 35px;
				font-size: 19px;
			}
		}
	}
	&:after{
		display: block;
		content: '';
		clear: both;
	}
}
#modalBackdrop{
	background: $black !important;
}
.page-content-connections{
	#modalContent{
		.webform-component-email{
			position: relative;
			padding: 0 0 0 56px;
			height: 50px;
			&:before{
				content: 'To';
				position: absolute;
				top: 0;
				border: 1px solid #c7c7c7;
				font-size: 15px;
				line-height: 18px;
				font-weight: bold;
				left: 0;
				padding: 15px 20px;
				position: absolute;
				top: 0;
				width: 57px;
				height: 50px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			input{
				height: 50px;
			}
		}
		textarea{
			height: 120px;
			max-height: 120px;
			min-height: 120px;
		}
		input[type="submit"]{
			width: 160px;
			height: 55px;
			box-sizing: border-box !important;
			font:bold 21px/52px 'Roboto', sans-serif;
			text-transform: uppercase;
			color: $white;
			text-align: center;
			background: $green--light;
			border: none;
			padding: 0;
			float: right;
			cursor: pointer;
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
			@include max-screen($mobile){
				width: 110px;
				height: 37px;
				line-height: 35px;
				font-size: 19px;
			}
		}
	}
}
#modalContent #wca-nikeplus-auth-form.ctools-use-modal-processed > div .form-item{
	margin: 0 0 20px;
	&:nth-child(2){
		margin: 0 0 26px;
	}
	label{
		display: block;
		margin: 0 0 10px;
	}
}
#wca-nikeplus-auth-form{
	padding: 76px 0 0;
	position: relative;
	&:before {
		content: "Check In";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		color: $green--light;
		font-size: 45px;
		line-height: 50px;
		font-weight: bold;
		text-align: center;
	}
}
.has-send{
	display: block;
	text-align: center;
	padding: 20px 0 50px;
}
.ctools-use-modal-processed{
	input[type="submit"]{
		width: 160px;
		height: 55px;
		box-sizing: border-box !important;
		font:bold 21px/52px 'Roboto', sans-serif;
		text-transform: uppercase;
		color: $white;
		text-align: center;
		background: $green--light;
		border: none;
		padding: 0;
		float: right;
		cursor: pointer;
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
	}
}
.page-squads{
	#modalContent,
	#modal-content,
	.ctools-modal-content{
		max-width: 425px !important;
	}
}
.profile-rate{
	padding: 17px 0 0;
	margin: 0 0 20px;
	text-align: center;
	h3{
		margin: 0 0 3px;
		font-size: 36px;
		line-height: 38px;
		color: $green--light;
	}
	.rate-heading{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 24px;
		line-height: 26px;
		display: block;
		margin: 0 0 26px;
	}
	.profile-photo{
		margin: 0 auto 30px;
	}
	div.fivestar-widget-static,
	.fivestar-widget{
		display: inline-block !important;
	}
	.description{
		display: none;
	}
	#fivestar-custom-widget.ctools-use-modal-processed > div,
	#fivestar-custom-widget.ctools-use-modal-processed > div .form-item{
		padding: 0;
		margin: 0;
	}
	div.fivestar-widget-static .star,
	div.fivestar-widget .star{
		margin: 0 4px;
	}
	div.fivestar-widget .cancel,
	div.fivestar-widget .star,
	div.fivestar-widget-static .cancel,
	div.fivestar-widget-static .star{
		width: 40px;
		height: 40px;
	}
	div.fivestar-widget .star,
	div.fivestar-widget .star a,
	div.fivestar-widget-static .star{
		@extend %iconsSprite;
		@include back-pos('ico-star');
	}
	div.fivestar-widget div.on a{
		@include back-pos('ico-star-save');
	}
	div.fivestar-widget div.hover a{
		@include back-pos('ico-star-active');
	}
	div.fivestar-widget-static .star span.on,
	div.fivestar-widget-static .star span.off{
		@extend %iconsSprite;
		@include back-pos('ico-star');
	}
	div.fivestar-widget-static .star span.on{
		@include back-pos('ico-star-save');
	}
	.ajax-progress,
	.ajax-progress-throbber{
		display: none !important;
	}
}
.page-squads{
	.jcf-select{
		height: 26px;
		width: 181px;
	}
	.form-item-files-file,
	.form-type-managed-file{
		width: 215px;
		.jcf-file{
			display: block;
			width: 100%;
			.jcf-fake-input,
			.jcf-upload-button{
				cursor: pointer;
				height: auto;
				width: 100%;
				box-sizing: border-box !important;
				font-size: 13px;
				line-height: 20px;
				padding: 10px;
			}
		}
	}
}
.onemsg{
	display: block;
	text-align: center;
	padding: 35px 0 50px;
}
#-wellsquad-calendar-event-edit-form,
#-wellsquad-calendar-form-activity{
	.form-item-event-value,
	.form-item-activity-value{
		margin: 0 0 48px !important;
		position: relative;
		text-align: center;
		input{
			width: 72px !important;
			margin: 0 20px 0 0;
			text-align: center;
		}
	}
}