.block--2{
	position: relative;
	padding: 40px 10px;
	overflow: hidden;
	border-left: 1px solid #c1c1c1;
	width: auto;
	@include max-screen($phablet){
		width: 100%;
		float: none;
		margin: 0;
		padding: 40px 40px 70px;
	}
	@include max-screen($tablet){
		padding: 5% 20px 7%;
	}
}
.block--1{
	position: relative;
	padding: 40px 10px;
	float: left;
	width: 320px;
	@include max-screen($phablet){
		width: 100%;
		float: none;
		margin: 0;
		padding: 5% 20px 7%;
	}
}
.subcategory-list{
	max-width: 430px;
	margin: 0 auto;
}
#block-wsg-goals,
#block-wsg-my_goal{
	border-top: 1px solid #c1c1c1;
	background: $brown--light;
	float: left;
	width: 320px;
	@include max-screen($phablet){
		width: 100%;
		float: none;
	}
	.block-title{
		display: none;
	}
}
#block-views-preferences_for_other-block{
	border-bottom: none;
}
#block-wellsquad_configurations-my_match,
#block-wellsquad_configurations-match{
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	position: relative;
	overflow: hidden;
	margin: 0 0 -9999px;
	padding: 0 0 9999px;
	background: $white;
	@include max-screen($phablet){
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}
	.match{
		background: $white;
		border: none;
		width: 100%;
	}
}
#block-wellsquad_configurations-my_match{
	margin: 0;
	padding: 0;
}
#block-views-my_preferences-block.without-goal{
	width: 100% !important;
}
.profile-link2{
	cursor: pointer;
}
.match{
	text-align: center;
	h2{
		margin: 0;
		padding: 32px 0 0;
		font-weight: 900;
		letter-spacing: -1px;
		font-size: 45px;
		line-height: 50px;
		@include max-screen($tablet){
			padding: 0;
			font-size: 34px;
			line-height: 38px;
		}
		.counter{
			color: $green--light;
			font-size: 24px;
			line-height: 24px;
			margin: -4px 0 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.subcategory{
		display: inline-block;
		font-weight: bold;
		color: $grey;
		font-size: 17px;
		line-height: 21px;
		margin: 0 0 14px;
	}
	.users-carousel{
		display: inline-block;
		vertical-align: top;
		max-width: 260px;
		margin: 0 0 0 -40px;
		@include max-screen($tablet){
			margin: 0;
		}
		.slick-track{
			min-width: 260px !important;
		}
		.user-item{
			max-width: 9999px;
			min-width: 0;
			&:first-child{
				margin: auto;
				&:before{
					display: none;
				}
			}
		}
		.slick-prev,
		.slick-next{
			width: 12px;
			height: 36px;
			top: -24px;
			margin: 0;
			right: 30px;
			left: auto;
			&:before{
				width: 12px;
				height: 36px;
				top: 0;
				left: 0;
				@extend %iconsSprite;
				@include back-pos('ico-slide--leftmin');
			}
			&:hover:before{
				@include back-pos('ico-slide--leftmin');
			}
		}
		.slick-next{
			right: -2px;
			&:before{
				@include back-pos('ico-slide--rightmin');
			}
			&:hover:before{
				@include back-pos('ico-slide--rightmin');
			}
		}
	}
	.user-item{
		display: inline-block;
		vertical-align: top;
		max-width: 260px;
		@include max-screen($tablet){
			max-width: 9999px;
			display: block;
		}
		&:first-child{
			position: relative;
			min-width: 260px;
			margin: 0 80px 0 -40px;
			@include max-screen($tablet){
				margin: 0 0 70px;
				min-width: 0;
			}
			&:before{
				content: '+';
				position: absolute;
				top: 63px;
				right: -35px;
				font-weight: bold;
				font-size: 48px;
				line-height: 48px;
				color: $green--light;
				@include max-screen($tablet){
					top: 103%;
					right: auto;
					left: 50%;
					margin: 0 0 0 -13px;
				}
			}
		}
	}
	.user-name{
		margin: 0 0 6px;
		font-weight: bold;
		font-size: 23px;
		line-height: 25px;
		text-transform: capitalize;
		div{
			display: inline-block;
		}
	}
	.male,
	.code{
		color: $grey;
		margin: 0 0 5px;
	}
}
.preferences.for-other-style{
	.views-field{
		&:first-child{
			margin: 0;
			position: absolute;
			top: 37px;
			right: 39px;
			font-size: 14px;
			line-height: 16px;
			.field-content{
				float: none;
				width: auto;
			}
			a{
				color: $gray--darkest;
			}
		}
	}
}
.preferences{
	padding-top: 67px;
	border-top: 1px solid #c1c1c1;
	.block-inner{
		max-width: 500px;
		margin: 0 auto;
	}
	.block-title{
		color: $green--light;
		font-size: 32px;
		line-height: 34px;
		padding: 0;
		margin: 0 0 39px;
		text-align: left;
		@include max-screen($tablet){
			margin: 0 0 20px;
		}
	}
	.views-field{
		margin: 0 0 12px;
		@extend %clearfix;
		.views-label{
			float: left;
			width: 47%;
			padding: 0 20px 0 0;
			@include max-screen($tablet){
				float: none;
				width: 100%;
			}
		}
		.field-content{
			float: right;
			width: 51%;
			color: $green--light;
			text-decoration: underline;
			@include max-screen($tablet){
				float: none;
				width: 100%;
			}
		}
	}
}
.small-profileinfo.for-other-style{
	.views-field{
		&:first-child{
			margin: 0;
			position: absolute;
			top: 37px;
			right: 39px;
			font-size: 14px;
			line-height: 16px;
			.field-content{
				float: none;
				width: auto;
			}
			a{
				color: $gray--darkest;
			}
		}
	}
}
.small-profileinfo{
	padding-left: 40px;
	padding-right: 40px;
	border-top: 1px solid #c1c1c1;
	@include max-screen($phablet){
		text-align: center;
	}
	@include max-screen($tablet){
		padding-left: 20px;
		padding-right: 20px;
	}
	.views-field-field-profile-photo{
		text-align: center;
		padding: 36px 0 0;
	}
	.views-field{
		margin: 0 0 6px;
		span{
			color: $grey--darkmore;
		}
		.field-content{
			display: inline-block;
		}
	}
	.squod-image{
		margin: 0 auto 24px;
	}
	.views-field-field-first-name,
	.views-field-field-last-name{
		margin: 0;
		color: $green--light;
		font-size: 26px;
		line-height: 26px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.views-field-field-last-name{
		margin: 0 0 6px;
	}
}
.page-profile{
	.profile-info{
		.param-holder{
			max-width: 180px;
			@include max-screen($tablet){
				margin: 0 auto 30px;
				text-align: center;
			}
		}
		.profile-cart{
			float: left;
			@include max-screen($tablet){
				float: none;
			}
			.photo-wrap{
				float: none;
			}
			h3{
				color: $green--light;
				span{
					display: block;
					color: $green--light;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}
.profile-info{
	overflow: hidden;
	max-width: 806px;
	margin: 0 auto;
	.profile-cart{
		overflow: hidden;
		.photo-wrap{
			float: left;
			margin: 0 60px 0 0;
			@include max-screen($tablet){
				float: none;
				margin: 0 auto 20px;
			}
		}
		h3{
			margin: 0 0 15px;
			font-weight: bold;
			text-transform: capitalize;
			font-size: 29px;
			line-height: 27px;
		}
		.param-row{
			margin: 0 0 6px;
			div{
				display: inline-block;
			}
		}
	}
	.param-holder{
		overflow: hidden;
		padding: 5px 0 0;
		.url{
			word-break: break-all;
		}
		.url div{
			display: inline-block;
		}
		h3{
			span{
				color: $green--light;
			}
		}
		span{
			color: #828282;
		}
		.param-info {
			float: left;
			@include max-screen($tablet){
				float: none;
				text-align: center;
				margin: 0 0 26px;
			}
		}
		.buttons-section{
			float: right;
			width: 230px;
			padding: 65px 0 0;
			@include max-screen($tablet){
				padding: 0;
				margin: 0 auto;
				float: none;
			}
			a{
				width: 100%;
				margin: 0 0 20px;
				padding: 12px;
			}
			.rate-btn{
				margin: 0 0 30px;
			}
		}
		.buttons-section__rate{
			padding: 5px 0 0;
		}
	}
	.profile-article{
		overflow: hidden;
		margin: 0 0 20px;
		padding: 28px 40px 0 0;
		line-height: 24px;
		min-height: 340px;
		@include max-screen($tablet){
			padding: 0;
			min-height: 0;
		}
		h3{
			margin: 0 0 32px;
			text-transform: none;
			font-size: 24px;
			line-height: 32px;
			font-weight: normal;
		}
	}
	.more{
		padding: 47px 0 0;
		text-align: right;
		font-size: 14px;
		line-height: 18px;
		@include max-screen($tablet){
			padding: 0;
		}
	}
	.match{
		padding: 24px 0 0;
		text-align: right;
		@include max-screen($tablet){
			padding: 0;
		}
		.btn{
			font-size: 17px;
			line-height: 20px;
			padding: 10px 40px;
		}
	}
}
.rating{
	display: block;
	background: $white;
	width: 40px;
	height: 40px;
	border: 2px solid $brown--lighten;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 141px;
	left: 0;
	text-align: center;
	padding: 8px 0 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: $gray--darkest;
	&::first-letter{
		font-size: 26px;
		line-height: 18px;
	}
}
.goals{
	color: $white;
	text-align: center;
	position: relative;
	width: 320px;
	margin: 0 auto;
	.goals-item{
		position: relative;
		&:before {
			background: none repeat scroll 0 0 #000;
			bottom: 0;
			content: "";
			left: 0;
			opacity: 0.4;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.goals-preview{
		min-height: 500px;
		img{
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
	.goals-description{
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.progress-circle{
		margin: 0 auto 4px;
	}
	h2{
		margin: 0 0 40px;
		font-size: 45px;
		line-height: 50px;
		a{
			color: $white;
			text-decoration: none;
		}
	}
	h3{
		text-transform: none;
		font-size: 58px;
		line-height: 58px;
		color: $green--light;
		margin: 0;
		font-weight: bold;
	}
	.action{
		font-size: 23px;
		line-height: 31px;
		text-transform: uppercase;
	}
	.slick-prev{
		left: 20px;
		&:before{
			@include back-pos('ico-slide--leftwhite');
		}
		&:hover:before{
			@include back-pos('ico-slide--lefthover');
		}
	}
	.slick-next{
		right: 20px;
		&:before{
			@include back-pos('ico-slide--rightwhite');
		}
		&:hover:before{
			@include back-pos('ico-slide--righthover');
		}
	}
}
.circliful {
	position: relative;
}
.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half{
	width: 100%;
	position: absolute;
	text-align: center;
	display: inline-block;
}
.circle-info,
.circle-info-half{
	color: #999;
}
.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

// profile new
.profile-section-new.profile-section{
	padding: 33px 40px 42px;
	@include max-screen($phablet){
		padding: 33px 20px;
	}
	h2{
		margin: 0 0 24px;
	}
	.profile-info{
		max-width: 871px;
	}
}
.profile-heading{
	color: $green--light;
	font-size: 32px;
	line-height: 36px;
}
.profile-section-squad.profile-section{
	padding: 0;
	.slick-prev{
		left: 32px;
	}
	.slick-next{
		right: 32px;
	}
	.squads-wrapper-profile,
	.squads-wrapper-profile_user{
		max-width: 1845px;
		margin: 0;
		.squod-item{
			padding: 0;
			height: auto !important;
		}
	}
	.squod-block{
		display: table;
		width: 100%;
	}
	.squod-preview{
		display: table-cell;
		width: 320px;
		text-align: center;
		@include max-screen($phablet){
			width: 250px;
		}
		@include max-screen($tablet){
			display: block;
			width: 100%;
		}
		img{
			display: inline-block;
			vertical-align: top;
		}
	}
	.squod-preview + .squod-description{
		padding-bottom: 91px;
		@include max-screen($tablet){
			padding: 0;
		}
	}
	.squod-description{
		display: table-cell;
		vertical-align: top;
		position: relative;
		@include max-screen($tablet){
			display: block;
			width: 100%;
		}
		h3{
			margin: 0 0 7px;
		}
		.squod-about{
			padding: 33px 40px;
			box-shadow: none;
			border: none;
		}
		.squod-title{
			font-size: 30px;
			line-height: 34px;
			span{
				color: $green--light;
				font-weight: normal;
				font-size: 20px;
				line-height: 24px;
				@include max-screen($tablet){
					display: block;
				}
			}
		}
		.description-list{
			overflow: hidden;
			li{
				display: inline-block;
				vertical-align: top;
				width: 40.8%;
				margin-right: 7%;
				border-color: $grey;
				@include max-screen($tablet){
					margin: 0;
					width: 100%;
				}
			}
			h5{
				color: $gray--darkest;
				margin: 0 0 2px;
				&:before{
					background: $gray--darkest;
				}
			}
		}
	}
	.squad-bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 14px 40px;
		background: $white;
		border-top: 1px solid $grey;
		@include max-screen($tablet){
			padding: 20px;
			position: relative;
		}
		@include max-screen($tablet){
			text-align: center;
		}
		h5{
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
			color: $gray--darkest;
			font-size: 23px;
			line-height: 25px;
			font-weight: normal;
			@include max-screen($tablet){
				display: block;
				margin: 0;
			}
		}
		.squod-price{
			display: inline-block;
			vertical-align: middle;
			margin: 0 60px 0 0;
			color: $green--light;
			font-size: 54px;
			line-height: 63px;
			@include max-screen($phablet){
				margin: 0 10px 0 0;
				font-size: 38px;
				line-height: 56px;
			}
			@include max-screen($tablet){
				display: block;
				margin: 0;
			}
			@include max-screen(768px){
				display: inline-block;
				margin-right: 20px;
			}
		}
		.squod-price + form {
			@include max-screen(768px){
				display: inline-block;
			}
		}
		.btn{
			display: inline-block;
			vertical-align: middle;
			padding: 17px 30px;
		}
	}
}
.squads-list{
	.slick-list{
		@include max-screen($tablet){
			overflow: visible;
		}
	}
}
.leader-list{
	max-width: 871px;
	margin: 0 auto;
}
