.questions{
	max-width: 780px;
	margin: 0 auto 62px;
	padding: 59px 0 0;
	@include max-screen($desctop){
		padding: 6% 0 0;
		margin: 0 auto 6%;
	}
	.faq{
		margin: 0 0 10px;
		border: 1px solid $grey--light;
		font-size: 16px;
		line-height: 24px;
		&.active{
			.qustion{
				&:before{
					@extend %iconsSprite;
					@include back-pos('ico-arrow--up');
				}
			}
		}
	}
	.qustion{
		color: $green--light;
		position: relative;
		padding: 12px 42px 15px 20px;
		margin: 0;
		cursor: pointer;
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		text-transform: none;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: 15px;
			width: 13px;
			height: 7px;
			margin: -4px 0 0;
			@extend %iconsSprite;
			@include back-pos('ico-arrow--down');
		}
	}
	.answer{
		margin: -12px 0 0;
		padding: 0 20px 7px;
	}
}