.socials-list{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 22px;
	}
	a{
		display: block;
		position: relative;
		width: 24px;
		height: 24px;
		text-indent: -9999px;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.instagram:before{
		@extend %iconsSprite;
		@include back-pos('ico-instagram');
	}
	.instagram:hover:before{
		@include back-pos('ico-instagram--hover');
	}
	.twitter:before{
		@extend %iconsSprite;
		@include back-pos('ico-twitter');
	}
	.twitter:hover:before{
		@include back-pos('ico-twitter--hover');
	}
	.facebook:before{
		@extend %iconsSprite;
		@include back-pos('ico-facebook');
	}
	.facebook:hover:before{
		@extend %iconsSprite;
		@include back-pos('ico-facebook--hover');
	}
	.blog-ico:before{
		@extend %iconsSprite;
		@include back-pos('ico-blog');
	}
	.blog-ico:hover:before{
		@extend %iconsSprite;
		@include back-pos('ico-blog--hover');
	}
}