.block-title{
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 24px;
	padding: 29px 0 0;
	font-weight: bold;
	.counter{
		color: $green--light;
		font-size: 17px;
		line-height: 28px;
		font-weight: normal;
	}
}
.not-found--text{
	display: block;
	text-align: center;
}
.squads-wrapper,
.users-wrapper{
	max-width: 700px;
	.location{
		padding: 3px 0 0;
		display: block;
	}
}
.squads-wrapper,
.users-wrapper,
.squads-wrapper-profile,
.squads-wrapper-profile_user{
	margin: 0 auto 16px;
	position: relative;
	.slick-list{
		margin: 0 -2px 0 0;
	}
	.slick-prev,
	.slick-next{
		@include max-screen(800px){
			top: 122px;
		}
	}
	.slick-prev{
		left: -50px;
		@include max-screen($phablet){
			left: -40px;
		}
		@include max-screen(800px){
			left: -10px;
		}
	}
	.slick-next{
		right: -50px;
		@include max-screen($phablet){
			right: -40px;
		}
		@include max-screen(800px){
			right: -10px;
		}
		&:before{
			@extend %iconsSprite;
			@include back-pos('ico-slide--right');
		}
		&:hover:before{
			@include back-pos('ico-slide--righthover');
		}
	}
	&.can-buy{
		.squod-item{
			padding: 14px 16px 90px;
		}
	}
	.squod-item{
		padding: 33px 16px 14px;
		position: relative;
		-webkit-box-shadow: inset 0 0 1px 0 $white;
		box-shadow: inset 0 0 1px 0 $white;
		&:hover{
			-webkit-box-shadow: inset 0 0 1px 0 $grey--lighten;
			box-shadow: inset 0 0 1px 0 $grey--lighten;
			.squod-image{
				border-color: $green--light;
			}
		}
		.form-actions{
			margin: 0;
		}
		input{
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin: 0 0 0 -70px;
			padding: 12px;
			display: block;
			width: 140px;
			border: none;
			background: $green--light;
			color: $white;
			font-size: 16px;
			line-height: 16px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			&:hover{
				background: $gray--darkest;
				color: $green--light;
			}
		}
	}
	.edit-block{
		text-align: right;
		font-size: 14px;
		line-height: 16px;
		margin: 0 0 4px;
		padding: 0 14px 0 0;
	}
	h3.squod-title,
	h3.user-name{
		margin: 0 0 3px;
		font-weight: bold;
		font-size: 23px;
		line-height: 25px;
		text-transform: capitalize;
	}
	h5{
		color: $grey;
		font-weight: bold;
		text-transform: none;
	}
	.description-list{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			padding: 5px 0;  
			border-top: 1px solid $grey--lighten;
			&:first-child{
				border: none;
				h5{
					margin: 0;
					padding: 0;
					&:before{
						display: none;
					}
				}
			}
			h5{
				position: relative;
				padding: 0 0 0 10px;
				margin: 0 0 4px;
				&:before{
					content: '';
					position: absolute;
					top: 7px;
					left: 0;
					border-radius: 50%;
					width: 4px;
					height: 4px;
					background: $grey;
				}
			}
		}
	}
	.user--notfound{
		padding: 16px 0 0;
		img{
			display: inline-block;
			border-radius: 50%;
			margin: 0 0 10px;
		}
	}
}
.users-wrapper,
.photo-wrap{
	text-align: center;
	.user{
		position: relative;
	}
	.user-photo{
		margin: 0 auto 16px;
	}
	.send-email a{
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		left: 167px;
		top: 141px;
		@include max-screen($mobile){
			left: 50%;
			margin: 0 0 0 -20px;
		}
		&:before{
			height: 24px;
			margin: -12px -14px;
			@include back-pos('ico-talk');
		}
		&:hover:before{
			@include back-pos('ico-talk--hover');
		}
	}
}
.profile-link{
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 84px 28px 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: $gray--darkest;
	font-size: 16px;
	line-height: 18px;
	transition: opacity 0.4s ease-out;
	&:hover{
		color: $gray--darkest;
	}
	&:before{
		content: '';
		position: absolute;
		top: 57px;
		left: 50%;
		width: 23px;
		height: 22px;
		margin: 0 0 0 -11px;
		@extend %iconsSprite;
		@include back-pos('ico-search');
	}
}
.profile-link2:hover,
.view-profile:hover{
	&:before{
		content: '';
		position: absolute;
		background: $green--light;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: 50%;
	}
	.profile-link{
		transition: opacity 0.4s ease-out;
		opacity: 1;
	}
}
.photo-wrap{
	position: relative;
	overflow: hidden;
	max-width: 180px;
	margin: 0 auto;
	.send-email a{
		left: 138px;
	}
}
.form-actions{
	text-align: right;
}
.create-squad{
	max-width: 886px;
	margin: 0 auto;
	@include max-screen($mobile){
		text-align: center;
	}
	.btn{
		padding: 16px 26px;
		font-size: 21px;
		line-height: 23px;
	}
}
.squod-image,
.user-photo,
.profile-photo{
	position: relative;
	display: block;
	margin: 0 auto 18px;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	overflow: hidden;
	border: 2px solid $brown--lighten;
	background: $white;
	img{
		display: block;
		width: 100%;
		height: auto;
		// border-radius: 50%;
	}
	.image-label{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%, -50%, 0);
			-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		color: $grey;
		font-size: 20px;
		line-height: 20px;
	}
}
.squod-preview{
	position: relative;
}
.squod-number,
.send-email a{
	position: absolute;
	top: 143px;
	left: 153px;
	width: 40px;
	height: 40px;
	padding: 4px 0 0;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid $green--light;
	text-align: center;
	background: $white;
	font-size: 11px;
	line-height: 4px;
	font-weight: bold;
	transition: background 0.4s ease-out;
	&:hover{
		background: $green--light;
		transition: background 0.4s ease-out;
	}
	@include max-screen($mobile){
		left: 50%;
		margin: 0 0 0 -20px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 32px;
		margin: -16px -14px;
		@extend %iconsSprite;
		@include back-pos('ico-groupe');
	}
	.user-number{
		font-size: 18px;
		line-height: 18px;
	}
}
.findCompany{
	width:94%;
	max-width: 700px;
	margin: 55px auto 80px auto;
	background: #1ce4d7;
	padding: 40px;
	.block-inner{
		width:100%;
		max-width: 450px;
		margin: 0 auto;
		.block-title{
			padding: 0;
			font-size: 34px;
			line-height:36px;
			text-transform: uppercase;
			font-weight: normal;
			margin: 0 0 25px 0;
			@include max-screen($phablet){
				font-size: 30px;
				line-height:32px;
				margin-bottom: 15px;
			}
			@include max-screen($tablet) {
				font-size: 26px;
				line-height:28px;
			}
		}
		.content{
			font-size: 16px;
			line-height:20px;
		}
	}
}
.squad-bottom {
	input.node-add-to-cart {
		margin-left: 20px;
		@include max-screen(768px){
			position: static;
			margin-left: 0;
		}
	}
}
