#colorbox{
	height: auto !important;
	width: 440px !important;
	top: 50% !important;
	left: 50% !important;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
			transform: translate3d(-50%, -50%, 0);
	@include max-screen($tablet){
		width: 280px !important;
	}
	h3{
		font-weight: 300;
		font-size: 27px;
		line-height: 30px;
		@include max-screen($tablet){
			font-size: 18px;
			line-height: 20px;
		}
		.accent--colored{
			font-size: 46px;
			line-height: 52px;
			text-transform: none;
			@include max-screen($tablet){
				font-size: 20px;
				line-height: 22px;
			}
		}
	}
	h5{
		margin: 0 0 29px;
		@include max-screen($tablet){
			margin: 0 0 10px;
		}
	}
	p{
		margin: 0;
	}
	.btn{
		width: 100%;
		padding: 16px 20px;
		font-size: 21px;
		line-height: 23px;
		margin: 0;
		&:hover{
			background: $gray--darkest;
			color: $green--light;
		}
		@include max-screen($tablet){
			padding: 10px 5px;
			font-size: 16px;
			line-height: 18px;
		}
	}
}
#cboxWrapper{
	height: auto !important;
	border-radius: 0;
	padding: 54px 60px 59px;
	width: 440px !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	@include max-screen($tablet){
		padding: 18px 26px;
		width: 280px !important;
	}
}
#cboxContent,
#cboxLoadedContent{
	width: auto !important;
	height: auto !important;
	float: none !important;
	margin: 0 !important;
}
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight{
	display: none;
}
#cboxContent{
	position: static;
}
#cboxClose{
	top: 15px;
	right: 15px;
	bottom: auto;
	width: 14px;
	height: 14px;
	background: none;
	&:before{
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		top: 0;
		left: 0;
		@extend %iconsSprite;
		@include back-pos('ico-close');
	}
	&:hover:before{
		@extend %iconsSprite;
		@include back-pos('ico-close-hover');
	}
}