$transparent: transparent;
$white: #fff;
$black: #000;
$black--95: rgba(0, 0, 0, .9);
$gray--darkest: #0c0c0c;
$grey--dark: #4a4a4a;
$grey: #c1c1c1;
$grey--extra: #bababa;
$grey--light: #c7c7c7;
$grey--lighten: #e7e7e7;
$grey--darkmore: #777;
$green--light: #1ce5d7;
$green--light--95: rgba(28, 229, 215, .95);
$green--lighten: #bfe2e0;
$brown--light: #f7f7f7;
$brown--lighten: #ddd;