@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Bold.woff2') format('woff2'),
		 url('../fonts/Roboto-Bold.woff') format('woff'),
		 url('../fonts/Roboto-Bold.ttf') format('truetype'),
		 url('../fonts/Roboto-Bold.svg#robotobold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.eot');
	src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-BoldItalic.woff') format('woff'),
		 url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
		 url('../fonts/Roboto-BoldItalic.svg#robotobold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.eot');
	src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Italic.woff2') format('woff2'),
		 url('../fonts/Roboto-Italic.woff') format('woff'),
		 url('../fonts/Roboto-Italic.ttf') format('truetype'),
		 url('../fonts/Roboto-Italic.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Light.woff2') format('woff2'),
		 url('../fonts/Roboto-Light.woff') format('woff'),
		 url('../fonts/Roboto-Light.ttf') format('truetype'),
		 url('../fonts/Roboto-Light.svg#robotolight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.eot');
	src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-LightItalic.woff') format('woff'),
		 url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
		 url('../fonts/Roboto-LightItalic.svg#robotolight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Regular.woff2') format('woff2'),
		 url('../fonts/Roboto-Regular.woff') format('woff'),
		 url('../fonts/Roboto-Regular.ttf') format('truetype'),
		 url('../fonts/Roboto-Regular.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Robotoblack';
	src: url('../fonts/Roboto-Black.eot');
	src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Black.woff2') format('woff2'),
		 url('../fonts/Roboto-Black.woff') format('woff'),
		 url('../fonts/Roboto-Black.ttf') format('truetype'),
		 url('../fonts/Roboto-Black.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Robotoblack_italic';
	src: url('../fonts/Roboto-BlackItalic.eot');
	src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
		 url('../fonts/Roboto-BlackItalic.woff') format('woff'),
		 url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
		 url('../fonts/Roboto-BlackItalic.svg#robotoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}