* {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	max-height: 100000px;
}
body{
	margin:0;
	background:$white;
	min-width:320px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
img{
	border-style:none;
	max-width:100%;
}
a{
	text-decoration:underline;
	color:$green--light;
}
a:hover{
	text-decoration: none;
}
a:hover{text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select{
	font: 16px/22px 'Roboto', sans-serif;
	vertical-align:middle;
	color:$gray--darkest;
	border: 1px solid $grey--light;
	border-radius: 0;
}
input[type="text"]{
	padding: 15px 20px;
	height: 50px;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error{
	border-color: red !important;
}
textarea{
	padding: 16px 0 0 19px;
}
label{
	font-weight: normal;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
::-webkit-input-placeholder {
	color:$gray--darkest;
}
:-moz-placeholder {
	color:$gray--darkest;
	opacity: 1;
}
::-moz-placeholder {
	color:$gray--darkest;
	opacity: 1;
}
:-ms-input-placeholder {
	color:$gray--darkest;
}
input::-moz-focus-inner {
	border:0;
	padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
input [type="email"],
input [type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea{-webkit-appearance:none;}