body{
	font: 16px/18px 'Roboto', sans-serif;
	color: $gray--darkest;
}
h1,
h2,
h3,
h4,
h5,
h6{
	text-transform: uppercase;
}
h1{
	margin: 0 0 20px;
	font-size: 58px;
	line-height: 64px;
	font-weight: 300;
	@include max-screen($desctop){
		font-size: 40px;
		line-height: 44px;
	}
	@include max-screen($tablet){
		font-size: 26px;
		line-height: 28px;
	}
	@include max-screen($mobile){
		font-size: 22px;
		line-height: 24px;
	}
}
h2{
	margin: 0 0 16px;
	font-size: 45px;
	line-height: 50px;
	font-weight: normal;
	@include max-screen($desctop){
		margin: 0 0 14px;
		font-size: 36px;
		line-height: 40px;
	}
	@include max-screen($tablet){
		margin: 0 0 12px;
		font-size: 22px;
		line-height: 24px;
	}
	@include max-screen($mobile){
		margin: 0 0 8px;
		font-size: 18px;
		line-height: 22px;
	}
}
h3{
	margin: 0 0 10px;
	font-size: 30px;
	line-height: 34px;
}
h4{
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
}
h5{
	margin: 0 0 8px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
}
p{
	margin: 0 0 10px;
}