// ==========	extends	==========	//

//  cleansing of the flow with preservation the structural layout
%clr {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
//	hide text; use in icons, ui elements etc.
%text-hide {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
//  remove link underline and add underline on hover  (analog of compass  @mixin hover-link() )
%not-underline-link {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}
//	change element box model to "border-box"
%m-border-box {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
//	common styles for pseudo elements (after, before)
%pseudo-container {
	content: '';
	position: absolute;
}
//	Clear lists <ul>, <ol> from margin, padding, list-style
%clear-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// grayscale images
%gray{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray alpha(opacity=50); /* IE6-9 */
	-webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}