.footer{
	display: table-footer-group;
	position: relative;
	z-index: 9;
	@include max-screen($desctop){
		display: block;
	}
}
.footer-wrap{
	display: table-cell;
	height: 1%;
	position: relative;
	padding: 33px 88px 42px 90px;
	background: $grey--extra;
	font-size: 14px;
	line-height: 16px;
	@include max-screen($desctop){
		display: block;
	}
	@include max-screen($phablet){
		text-align: center;
		padding: 34px 38px;
	}
	.container{
		overflow: hidden;
		max-width: 1200px;
		margin: 0 auto;
	}
	.block-menu{
		float: left;
		padding: 8px 0 0;
		@include max-screen($phablet){
			float: none;
			padding: 0 0 20px;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			@include max-screen($phablet){
				text-align: center;
			}
			li{
				display: inline-block;
				padding: 0 27px 0 0;
				margin: 0;
				@include max-screen($phablet){
					padding: 0 10px 10px;
				}
			}
			a{
				text-decoration: none;
				color: $gray--darkest;
				transition: color 0.3s ease-out;
				&:hover,
				&.active{
					color: $white;
				}
				&.active{
					font-weight: bold;
				}
			}
		}
	}
	.block-even{
		float: right;
		@include max-screen($phablet){
			float: none;
		}
	}
}
.bottom-wrap{
	padding: 50px 0;
	background-color: $green--lighten;
}
.links-listing{
	display: block;
	text-align: center;
	> p{
		display: inline-block;
		max-width: 200px;
		vertical-align: middle;
		margin: 0 10px;
	}
}