.header{
	padding: 17px 92px 17px 91px;
	margin: 0 0 1px;
	background: $gray--darkest url("../images/bg-header.png") 76px 0 no-repeat;
	@include max-screen($tablet){
		padding: 17px 20px 0;
		background-position: 0 0;
	}
	a{
		color: $white;
		text-decoration: none;
		&.active{
			color: $white;
		}
	}
	.container{
		overflow: hidden;
		max-width: 1200px;
		margin: 0 auto;
		.logo{
			float: left;
			width: 215px;
			@include max-screen($phablet){
				float: none;
				display: block;
				margin: 0 auto;
			}
		}
	}
}
.has-sidebar{
	.header-region{
		padding: 10px 0 0;
		font-size: 16px;
		line-height: 20px;
	}
	.header{
		padding: 16px 92px 12px 91px;
		@include max-screen($tablet){
			padding: 17px 20px 0;
		}
		.container{
			.logo{
				width: 169px;
				@include max-screen($phablet){
					width: 169px;
				}
			}
		}
	}
}
.header-region{
	float: right;
	padding: 17px 0 0;
	font-size: 18px;
	line-height: 20px;
	@include max-screen($phablet){
		float: none;
		text-align: center;
	}
	&:after{
		content: '';
		display: table;;
		width: 100%;
		clear: both;
	}
	.block{
		float: left;
		@include max-screen($phablet){
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 16px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 29px;
			padding: 0;
			@include max-screen($phablet){
				margin: 0;
				padding: 0 10px;
			}
		}
		a:hover{
			color: $green--light;
		}
	}
}
#name-and-slogan,
#skip,
#secondary{
	display: none;
}
body:not(.front){
	header:not(.header--transparent){
		width:100%;
		position: fixed;
		left:0;
		top:0;
		z-index: 120;
		@include max-screen($desctop){
			position: static;
		}
	}
}
