.sidebar{
	float: left;
	padding: 55px 39px 9999px;
	margin: 0 0 -9999px;
	background: $green--lighten;
	width: 302px;
	position: relative;
	@include max-screen(1600px){
		width: 302px;
	}
	@include max-screen($desctop){
		border-bottom: 1px solid $grey;
		-webkit-box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white;
		left: 0;
		margin: 0;
		padding: 30px 38px 12px;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		z-index: 999;
		display: none;
	}
	.close-btn{
		position: absolute;
		display: none;
		top: 20px;
		right: 5px;
		width: 30px;
		border-top: 3px solid $grey--dark;
		-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
		@include max-screen($desctop){
			display: block;
		}
		&:before{
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			height: 3px;
			width: 30px;
			background: $grey--dark;
			-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
		}
	}
	.menu{
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 20px;
		line-height: 20px;
		li{
			margin: 0 0 24px;
			padding: 0;
			list-style: none;
			text-align: left;
		}
		a{
			color: $gray--darkest;
			text-decoration: none;
			&.active,
			&:hover{
				color: $green--light;
			}
			&.active{
				font-weight: bold;
			}
			span{
				display: inline-block;
				vertical-align: middle;
				padding: 3px;
				margin: -1px 0 0 3px;
				width: 23px;
				color: $white;
				text-align: center;
				border: 2px solid $white;
				border-radius: 50%;
				background: $green--light;
				font-weight: bold;
				font-size: 11px;
				line-height: 12px;
			}
		}
	}
}
#content .open-btn{
	position: absolute;
	display: none;
	top: 10px;
	right: 8px;
	width: 30px;
	height: 21px;
	border-top: 3px solid $grey--dark;
	border-bottom: 3px solid $grey--dark;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 1;
	@include max-screen($desctop){
		display: block;
	}
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: -2px 0 0;
		height: 3px;
		background: $grey--dark;
	}
}
body:not(.front){
	#sidebar-first{
		position: fixed;
		top:70px;
		left:0;
		@include max-screen($desctop){
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
